@inherits Crm.Library.Modularization.CrmViewUserControl

<a href="#/Crm.Order/Offer/CreateTemplate" class="btn btn-float btn-primary m-btn waves-effect waves-circle waves-float animated bounceIn"><i class="zmdi zmdi-plus"></i></a>
