@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-orders" aria-controls="tab-orders" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Orders"))
	</a>
</li>
