@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-jobs" aria-controls="tab-jobs" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("ServiceOrderTimes"))
	</a>
</li>
