@inherits Crm.Library.Modularization.CrmViewUserControl<CrmModelItem<Type>>
@using Crm.Library.Globalization.Extensions
@using Crm.ViewModels

<div class="modal-header card-header ch-alt hide-print">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="row">
		<h4 class="modal-title col-md-8 col-xs-11">
			@(Html.Localize("Preview"))
		</h4>
		<div class="col-md-3 col-xs-11">
			<form-element id="SelectedLanguage" params="value: selectedLanguage, caption: 'Language', type: 'select2'">
				<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: $parent.filterLanguage, table: 'Main_Language', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery } }">
				</select>
			</form-element>
		</div>
	</div>
</div>
<div class="modal-body card-body card-padding">
	<!-- ko ifnot: loading -->
	@await Html.PartialAsync("DispatchReport")
	<!-- /ko -->
</div>
<div class="modal-footer card-header ch-alt p-15 hide-print">
	<button class="btn btn-float bgm-blue m-btn" data-action="print" data-bind="click: function () { window.print(); }">
		<i class="zmdi zmdi-print"></i>
	</button>
</div>