@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="visible: $root.dispatch().StatusKey() === 'Scheduled'">
	<a href="#" data-route="Crm.Service/Dispatch/Appointment/{{$root.dispatch().Id}}?action=request" data-toggle="modal" data-target="#modal">
		@(Html.Localize("AppointmentRequest"))
	</a>
</li>

