@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.currentTabId && $root.currentTabId() === 'tab-relationships' -->
<!-- ko with: ko.utils.arrayFirst($parents, function(x) { return x instanceof window.$data.KoObservableEntity 
&& x.innerInstance instanceof database.CrmProject_PotentialContactRelationship.CrmProject_PotentialContactRelationship }) -->
<li data-bind="requiredPermission: { name: 'EditContactRelationship', group: 'Potential' }">
	<a data-test="edit-potential-contact-relationship" href="#" data-bind="attr: { 'data-route': 'Crm.Project/PotentialContactRelationship/EditTemplate/' + Id() }" data-toggle="modal" data-target="#modal">
		@(Html.Localize("Edit"))
	</a>
</li>
<!-- ko with: $root.tabs()['tab-relationships'] -->
<li data-bind="requiredPermission: { name: 'RemoveContactRelationship', group: 'Potential' }">
	<a data-test="delete-potential-contact-relationship" href="#" data-bind="click: $data.deleteRelationship.bind($data, $parent)">
		@(Html.Localize("Delete"))
	</a>
</li>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
