@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.GenericListViewModel>

<div id="{{Id}}" class="lv-item media">
	@await Html.PartialAsync("GenericListBulkControl")
	<div class="lv-avatar pull-left bgm-gray" data-bind="text: Helper.String.getTranslatedString($data.Type(), $data.Type())[0], visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="row media-body">
		<div class="col-xs-10">
			<div class="lv-title" data-bind="text: Type"></div>
			<div class="small" data-bind="text: GeneratorService"></div>
			<small class="small" data-bind="text: Id"></small>
			<div class="c-red" data-bind="visible: ErrorMessage, text: ErrorMessage"></div>
			<ul class="lv-attrs">
				<li>
					@(Html.Localize("CreateDate")):
					<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'medium' } }"></span>
				</li>
				<li>
					@(Html.Localize("CreateUser")):
					<span data-bind="userDisplayName: CreateUser"></span>
				</li>
				<li>
					@(Html.Localize("ModifyDate")):
					<span data-bind="dateText: { value: ModifyDate, pattern: { datetime: 'medium' } }"></span>
				</li>
				<li>
					@(Html.Localize("ModifyUser")):
					<span data-bind="userDisplayName: ModifyUser"></span>
				</li>
			</ul>
		</div>
	</div>
</div>