<pmbb-view-entry params="caption: 'Firstname'">
	<span data-bind="text: FirstName"></span>
</pmbb-view-entry>
<pmbb-view-entry params="caption: 'LastName'">
	<span data-bind="text: LastName"></span>
</pmbb-view-entry>