<pmbb-view-entry params="caption: 'Language'">
	<span data-bind="lookupValue: DefaultLanguageKey, lookups: $root.lookups.languages"></span>
	<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DefaultLanguageKey"></span>
</pmbb-view-entry>
<pmbb-view-entry params="caption: 'Locale'">
	<!-- ko if: DefaultLocale -->
	<span data-bind="text: Helper.Culture.getDisplayName(DefaultLocale())"></span>
	<!-- /ko -->
	<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DefaultLocale"></span>
</pmbb-view-entry>
<pmbb-view-entry params="caption: 'TimeZoneName'">
	<span data-bind="text: TimeZoneName"></span>
	<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: TimeZoneName"></span>
</pmbb-view-entry>