<li role="presentation">
	<a class="col-xs-4" href="#tab-dropbox" aria-controls="tab-dropbox" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'DropboxInfoTitle'"></a>
</li>