@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-account-info">
	<pmb-block params="icon: 'info-outline', caption: 'AccountInfo', context: { accountInfo: accountInfo }, onSave: $root.saveAccountInfo.bind($root)">
		<pmbb-view>
			<!-- ko with: accountInfo -->
			@Html.PluginRenderActions("AccountInfoView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: accountInfo -->
			@Html.PluginRenderActions("AccountInfoEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	@Html.PluginRenderActions("AccountInfoTab")
</div>