<li role="presentation">
	<a class="col-xs-4" href="#tab-account-info" aria-controls="tab-account-info" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'AccountInfo'"></a>
</li>