@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.perDiemReportTypeKey() == 'Weekly' -->
<!-- ko if: $root.distinctFromDates().length == 0 -->
<p>
	@(Html.Localize("NoReportExisting"))
</p>
<!-- /ko -->
<!-- ko if: $root.distinctFromDates().length > 0 -->
<div>
	<label class="fg-label control-label">
		@(Html.Localize("ReportForWeek"))
	</label>
	<!-- ko foreach: $root.distinctFromDates -->
	<div class="radio m-b-15">
		<label>
			<input type="radio" data-bind="checked: $root.selectedDate, value: $data">
			<i class="input-helper"></i>
			@(Html.Localize("CalendarWeek")) <span data-bind="text: $root.getCalendarWeek($data)"></span> (<span data-bind="dateText: window.moment($root.getFromDate($data)).format('LL')"></span> - <span data-bind="dateText: window.moment($root.getToDate($data)).format('LL')"></span>)
		</label>
	</div>
	<!-- /ko -->
</div>
<!-- /ko -->
<!-- /ko -->
