@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row">
	 @await Html.PartialAsync("MaterialDisplayTemplates/Hint") 
	<div class="col-xs-11" data-bind="validationElement: Response">
		<div>
			<label class="control-label" data-bind="validationElement: Response">
				<span data-bind="text: $root.getLocalizationText($data)"></span>
				<span class="required" data-bind="visible: MinUploadCount">*</span>
			</label>
		</div>
		<!--ko ifnot: window.Modernizr.touch-->
		<div class="dropzone" data-bind="dropzone: { url: '#', files: $data.Files, acceptFile: '', maxFiles: MaxUploadCount(), maxFileSize: MaxFileSize(), loading: $root.loadingFiles }">
		</div>
		<!-- /ko -->
		<!--ko if: window.Modernizr.touch-->
		<span class="btn btn-lg btn-default f-13 waves-effect btn-file m-r-10">
			<span data-bind="translatedText: 'SelectFile'"></span>
			<input class="fileAttachment" multiple type="file" data-bind="disable: MaxUploadCount() && $data.Files && Files().length >= MaxUploadCount()"/>
		</span>
		<!-- /ko -->
		<br/>
		<div data-bind="if: MaxFileSize">
			<small>
				<span data-bind="translatedText: 'MaxUploadFileSize'"></span>:
				<span data-bind="fileSize: MaxFileSize"></span>
			</small>
		</div>
		<div data-bind="if: MinUploadCount">
			<span data-bind="validationElement: Response">
				<small>
					<span data-bind="translatedText: 'MinUploadCount'"></span>:
					<span data-bind="text: MinUploadCount"></span>
				</small>
			</span>
		</div>
		<div data-bind="if: MaxUploadCount">
			<small>
				<span data-bind="translatedText: 'FileCount'"></span>:
				<span data-bind="text: $data.Files ? Files().length : 0"></span>
				<span data-bind="translatedText: 'of'"></span>
				<span data-bind="text: MaxUploadCount"></span>
			</small>
		</div>
		<p data-bind="validationElement: Response, validationMessage: Response"></p>
		<div class="attached-file-list m-t-10 m-b-15" data-bind="foreach: $data.Files">
			<div class="m-t-5 m-r-5 m-l-5">
				<div class="pull-right actions">
					<a href="#" data-bind="click: $root.removeAttachedFile.bind($root), tooltip: true" title="@(Html.Localize("Remove"))">
						<i class="zmdi zmdi-delete"></i>
					</a>
				</div>
				<div>
					<strong data-bind="text: Filename">
					</strong>
				</div>
				<small>
					<span data-bind="text: ContentType"></span>
					<span data-bind="fileSize: Length"></span>
				</small>
			</div>
		</div>
		<div class="preloader pl-lg centered" data-bind="visible: !!$root.loadingFiles ? $root.loadingFiles() : false">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"></circle>
			</svg>
		</div>
	</div>
</div>
