@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row">
	<div class="col-md-12">
		<div class="m-t-25 m-b-25" data-bind="text: $root.getLocalizationText($data)" style="white-space: pre-wrap"></div>
	</div>
</div>
