@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row">
	 @await Html.PartialAsync("MaterialDisplayTemplates/Hint") 
	<div data-bind="css: 'col-xs-11 col-md-' + Math.min(11, 12 / RowSize())">
		<form-element params="value: Response, caption: $root.getLocalizationText($data), type: 'number', required: Required"></form-element>
	</div>
</div>
