@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row">
	 @await Html.PartialAsync("MaterialDisplayTemplates/Hint") 
	<div class="col-xs-11" data-bind="validationElement: Response">
		<label class="control-label">
			<span data-bind="text: $root.getLocalizationText($data)"></span>
			<span class="required" data-bind="visible: Required">*</span>
		</label>
		<div class="signatur" data-bind="validationOptions: { insertMessages: false }">
			<input type="hidden" data-bind="attr: { 'data-signature-clear-text': window.Helper.String.getTranslatedString('DeleteSignatur') }, signaturePad: Response" />
			<button class="clearButton btn btn-lg btn-default f-13 waves-effect waves-block m-b-10"></button>
		</div>
		<small class="help-block" data-bind="validationMessage: Response, validationElement: Response"></small>
	</div>
</div>
