<li role="presentation">
	<a class="col-xs-4" href="#tab-replication-groups" aria-controls="tab-replication-groups" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'Replication'"></a>
</li>