@inherits Crm.Library.Modularization.CrmViewUserControl

<script type="text/html" id='installation-pos-autocomplete-options'>
	<div data-bind="style: {padding-left: (depth*10) + 'px'}, css: { disable: $data?.disabled === true }">
		<span class="nested-element" data-bind="text: text"></span>
	</div>
</script>