<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="NavisionWebserviceUrl" value="http://v-bc.kgmnav.local:7047/Test/WS/Service-Test/Codeunit/LmobileFieldWebservice" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ItemNoWithKilometerAmount" value="FAHRT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ItemNoForKilometer" value="KDFAHRT-MON" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EnvironmentName" value="Test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="LocationCode" value="UMLAG" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ShortcutDimensionCode" value="350" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="FAHRTWorkType" value="FAHRT-KM" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="DisableDispatchReportAttachments" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>