<?xml version="1.0"?>
<configuration>
	<!-- Define your customer specific application settings here. When you need to use different settings depending on configuration (debug/release), you need
		to create your transformation files (appSettings.Debug.config / appSettings.Release.config) in folder	"config\<customerPluginName>\Crm.Web\App_Data\Plugins\<customerPluginName>".
		The transformed filed will be created during application startup and will be saved in runtime folder "Crm.Web\App_Data\..." -->
	<appSettings>
		<!-- Username and password is the same as when adding the servicereference in Visual Studio. In order to change it then connect to the servicereference again in VS. -->
		<add key="NavisionWebserviceUrl" value="http://v-bc.kgmnav.local:7047/Test/WS/Service-Test/Codeunit/LmobileFieldWebservice" />
		<add key="EnableFileExport" value="false" />
		<add key="NetworkDrivePathForFileStorage" value="" />
		<add key="ItemNoWithKilometerAmount" value="FAHRT" />
		<add key="ItemNoForKilometer" value="KDFAHRT-MON" />
		<add key="EnableStatusUpdateInBc" value="false" />
		<add key="dummyArticleItemNo" value="ZUSATZMAT" />
		<add key="LocationCode" value="UMLAG" />
		<add key="ShortcutDimensionCode" value="350" />
		<add key="FAHRTWorkType" value="FAHRT-KM" />
		<add key="ServiceOrderReportPath" value="\\srv-file.kgmnav.local\auftrag\S-AUFTRAG" />
		<add key="ServiceOrderReportPathNew" value="\\srv-file.kgmnav.local\auftrag\S-AUFTRAG" />
		<add key="UncUser" value="kgmnav\svc_lmobile" />
		<add key="UncDomain" value="kgmnav.local" />
		<add key="UncPassword" value="A5H9CTDG4kly" />
		<add key="EnvironmentName" value="Test" />
		<add key="DisableDispatchReportAttachments" value="true" />

		 
		
	</appSettings>
</configuration>