<li role="presentation" data-bind="visible: $root.form().CategoryKey() === 'Checklist' || $root.form().CategoryKey() === 'PDF-Checklist'">
	<a class="col-xs-4 p-b-0" href="#tab-checklist-installation-type-relationships" aria-controls="tab-checklist-installation-type-relationships" role="tab" data-toggle="tab" aria-expanded="false">
		<i class="zmdi zmdi-share zmdi-hc-2x"></i>
		<h6 data-bind="translatedText: 'Relationship'"></h6>
	</a>
</li>