@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko requiredPermission: { name: 'EditContactRelationship', group: 'Project' } -->
<!-- ko if: $root.contactType() !== "Project" -->
<li data-bind="with: $root">
	<a id="add-project-contact-relationship" href="#" data-mfb-label="@(Html.Localize("AddProjectRelationship"))" data-route="Crm.Project/ProjectContactRelationship/EditTemplate/" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-file-text"></i>
	</a>
</li>
<!-- /ko -->
<!-- ko if: $root.contactType() === "Project" -->
<li data-bind="with: $root">
	<a id="add-project-company-relationship" href="#" data-mfb-label="@($"{Html.Localize("AddProjectRelationship")} ({Html.Localize("Company")})")" data-route="Crm.Project/ProjectContactRelationship/EditTemplate/?contactType=Company" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-accounts"></i>
	</a>
</li>
<li data-bind="with: $root">
	<a id="add-project-person-relationship" href="#" data-mfb-label="@($"{Html.Localize("AddProjectRelationship")} ({Html.Localize("Person")})")" data-route="Crm.Project/ProjectContactRelationship/EditTemplate/?contactType=Person" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-account"></i>
	</a>
</li>
<!-- /ko -->
<!-- /ko -->
