@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $data.innerInstance instanceof database.CrmPerDiemGermany_PerDiemAllowanceEntry.CrmPerDiemGermany_PerDiemAllowanceEntry -->
<div class="col-xs-8 col-xs-pull-3 col-sm-pull-2 col-sm-4 p-l-0">
	@(Html.Localize("PerDiemAllowance"))
</div>
<div class="col-xs-12 col-sm-pull-2 col-sm-5">
	<div data-bind="visible: AllDay">@(Html.Localize("AllDayAmount"))</div>
	<div data-bind="visible: AllDay() === false">@(Html.Localize("PartialDayAmount"))</div>
	<div data-bind="lookupValue: PerDiemAllowanceKey, lookups: $root.perDiemAllowances"></div>
	<div data-bind="visible: AdjustmentReferences().length > 0">
		<div data-bind="foreach: AdjustmentReferences()">
			<small class="text-muted" data-bind="text: ($data.AdjustmentValue() <0 ? '-' + Helper.String.getTranslatedString('Cut') : '-' + Helper.String.getTranslatedString('Append')) +' ' + window.Helper.Lookup.getLookupValue($root.lookups.adjustments, $data.PerDiemAllowanceAdjustmentKey()) "></small>
			<br />
		</div>
	</div>
</div>
<!-- /ko -->
