@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="lv-item media">
	<!-- ko if: $parent.bulkActions && $parent.bulkActions().length > 0  -->
	<div class="checkbox pull-left bulk-control p-l-10 p-r-10 p-t-10">
		<label>
			<input type="checkbox" data-bind="checked: $parent.selectedItems, checkedValue: $data, disable: !$parent.bulkActionAllowed.bind($root)($data)">
			<i class="input-helper" data-bind="visible: $parent.bulkActionAllowed.bind($root)($data)"></i>
		</label>
	</div>
	<!-- /ko -->
	<div class="lv-avatar pull-left" data-bind="style: {backgroundColor: Color}, text: Level[0], css: Color, visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="media-body panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<div class="lv-title">
					<ul class="lv-attrs">
						<li>
							<i class="zmdi zmdi-calendar"></i>
							<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'medium'} }"></span>
						</li>
						<li class="pull-right">
							<span data-bind="text: Logger"></span>
						</li>
					</ul>
					<div class="m-t-5">
						<span data-bind="text: { value: $root.formattedLogMessage(Message), whiteSpace: 'pre-wrap' }"></span>
						<!-- ko if: Exception -->
						<span class="pull-right" style="cursor: pointer" role="button" data-toggle="collapse" data-bind="attr: {data-target: '#collapse' + $index(), aria-controls: 'collapse' + $index()}">
							<span data-bind="click: $parent.toggleException">
								<span class="m-r-0 btn btn-link" data-bind="translatedText: 'ExceptionDetails'"></span>
								<i data-bind="css: $parent.arrowIcon"></i>
							</span>
						</span>
						<!-- /ko -->
					</div>
				</div>
				<!-- ko if: Exception -->
				<div class="collapse" data-bind="attr: {id: 'collapse' + $index()}">
					<pre class="m-t-5" data-bind="text: Exception" style="height: 25rem"></pre>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>
