@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.serviceOrder -->
<div class="filter-element form-group" id="serviceordertimeid-filter" data-bind="visible: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'JobPerInstallation'">
	<div class="fg-line">
		<label class="fg-label control-label">
			@(Html.Localize("ServiceOrderTime"))
		</label>
		<select class="form-control" data-bind="select2autocompleter: {
		data: getFilter('ServiceOrderTimeId').extend({ filterOperator: '==' }), autocompleteOptions:
		{
			table: 'CrmService_ServiceOrderTime',
			orderBy: ['PosNo'], joins: Helper.ServiceOrderTime.getAutocompleteJoins(),
			customFilter: function (query, term) { if (term) {query = query.filter('it.Description.toLowerCase().contains(this.term)||it.ItemNo.toLowerCase().contains(this.term) ||it.PosNo.toLowerCase().contains(this.term)', { term: term });} return query.filter('it.OrderId === this.orderId', { orderId: $root.serviceOrder().Id() }) },
			mapDisplayObject: function (o) { return { id: o.Id, text: Helper.ServiceOrderTime.getAutocompleteDisplay(o) }; },
			placeholder: Helper.String.getTranslatedString('All')
		}
	}" >
		</select>
	</div>
</div>
<!-- /ko -->
