@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="lv-item media">
	<div class="lv-avatar bgm-bluegray pull-left m-r-10" data-bind="text: Crm.Library.Model.PostingType.getEnumName(PostingType())[0]"></div>
	<div class="media-body">
		<div class="lv-title m-b-5">
			<span data-bind="text: Id"></span>&nbsp;-&nbsp;<span data-bind="text: EntityTypeName"></span>
		</div>
		<small class="small">
			<span class="text-muted" data-bind="text: StateDetails"></span>
		</small>
		<ul class="lv-attrs">
			<li>
				<span data-bind="translatedText: Crm.Library.Model.PostingState.getEnumName(PostingState())"></span>
			</li>
			<li>
				<span>@(Html.Localize("Id"))</span>:&nbsp;<span class="text-uppercase" data-bind="text: EntityId"></span>
			</li>
			<li>
				<span>@(Html.Localize("TransactionType"))</span>: <span data-bind="text: Crm.Library.Model.PostingType.getEnumName(PostingType())"></span>
			</li>
			<li>
				<i class="zmdi zmdi-calendar"></i>
				<span data-bind="dateText: { value: ModifyDate, pattern: { datetime: 'short'} }"></span>
			</li>
			<li>
				<i class="zmdi zmdi-account-o"></i>
				<span data-bind="userDisplayName: { UserName: ModifyUser, Users: $parent.users }"></span>
			</li>
		</ul>
		<div class="lv-actions actions dropdown">
			<a href="#" data-toggle="dropdown" aria-expanded="true">
				<i class="zmdi zmdi-more-vert"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li data-bind="if: Helper.Posting.isEditAllowed($data)">
					<a href="#" data-bind="attr: { 'data-route': 'Main/Posting/Edit/' + Id() }" data-toggle="modal" data-target="#lgModal">
						@(Html.Localize("Edit"))
					</a>
				</li>
				<li data-bind="ifnot: Helper.Posting.isEditAllowed($data)">
					<a href="#" data-bind="attr: { 'data-route': 'Main/Posting/Edit/' + Id() }" data-toggle="modal" data-target="#lgModal">
						@(Html.Localize("View"))
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

