@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModelList<string>>

@foreach (var elementType in Model.List) { 
	<script type="text/html" id="dynamicform-element-display-template-@(elementType)">
		<div data-bind="css: CssExtra(), attr:{id:'formelement-' + Id()}">
			 @await Html.PartialAsync(String.Format("MaterialDisplayTemplates/{0}", elementType)) 
		</div>
	</script>
 } 
