@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="translatedText: 'EditLogLevel'"></h4>
</div>
<div class="modal-body card-body card-padding">
	<form>
		<form-element params="value: logLevel, caption: 'LogLevel', type: 'select'">
			<select class="form-control" data-bind="value: value, options: $root.logLevels, optionsText: 'Value', optionsValue: 'Key'"></select>
		</form-element>
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>