<floating-action-button>
	<li data-bind="visible: $parent.lookupType.IsEditable">
		<a href="#" data-route="Main/Lookup/EditTemplate/?fullName={{$parent.lookupType.FullName}}" data-toggle="modal" data-target="#lgModal">
			<i class="zmdi zmdi-plus"></i>
		</a>
	</li>
</floating-action-button>