@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
	<a id="template-view-details" href= @Url.Content("~/Crm.Service/Dispatch/GetReportPdf?dispatchId={{Id}}") >
		@(Html.Localize("DownloadReport"))
	</a>
</li>
