@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
	<a id="template-view-details" href="#/Crm.Service/Dispatch/DetailsTemplate/{{Id}}">
		@(Html.Localize("ViewDispatch"))
	</a>
</li>
