@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: StatusKey() === 'Scheduled' -->
<li>
	<a href="#" id="template-reschedule" data-route="Crm.Service/Dispatch/Schedule/{{Id}}" data-toggle="modal" data-target="#lgModal">
		@(Html.Localize("Reschedule"))
	</a>
</li>
<!-- /ko -->
