@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.GenericListViewModel>
@using Crm.Library.Globalization.Extensions

<div class="card generic-list">
	 @await Html.PartialAsync("Material/GenericListHeader") 
	 @await Html.PartialAsync("Material/GenericListList") 
	<a class="lv-footer m-t-0 card-header ch-alt" href="#/Crm.Service/ServiceOrderDispatchList/IndexTemplate?status=upcoming">
		@(Html.Localize("ShowAll"))
	</a>
</div>

 @await Html.PartialAsync("Material/GenericListItem") 
