@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: customerContact -->
<pmb-block params="icon: 'city-alt', caption: 'Customer', context: { customerContact: customerContact, customerContactAddress: customerContactAddress, serviceOrder: serviceOrder }, condition: $root.canEditCustomerContact, onSave: $root.onSaveCustomerContact">
	<pmbb-view>
		<!-- ko if: customerContactAddress -->
		<!-- ko with: customerContactAddress -->
		<pmbb-view-entry params="caption: 'Name'">
			<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->
				<a href="#" data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + CompanyId() }">
					<!-- ko if: $parentContext.$parentContext.$parent.customerContact()?.CompanyNo --><span data-bind="text: $parentContext.$parentContext.$parent.customerContact().CompanyNo"></span> -<!-- /ko -->
					<!-- ko if: Name1 --><span data-bind="text: Name1"></span><br/><!-- /ko -->
					<!-- ko ifnot: Name1 -->
					<!-- ko if: $parentContext.$parentContext.$parent.customerContact()?.Name -->
					<span data-bind="text: $parentContext.$parentContext.$parent.customerContact().Name"></span><br/>
					<!-- /ko -->
					<!-- /ko -->
				</a>
			<!-- /ko -->
			<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<!-- ko if: Name1 --><span data-bind="text: Name1"></span><br/><!-- /ko -->
			<!-- /ko -->
			<!-- ko if: Name2 --><span data-bind="text: Name2"></span><br/><!-- /ko -->
			<!-- ko if: Name3 --><span data-bind="text: Name3"></span><br/><!-- /ko -->
		</pmbb-view-entry>
		<!-- /ko -->
		<pmbb-view-entry params="caption: 'Address'">
			<!-- ko with: customerContactAddress -->
			<address-block params="address: $data, lookups: $root.lookups"></address-block>
			<!-- /ko -->
		</pmbb-view-entry>
		<!-- /ko -->
	</pmbb-view>
	<pmbb-edit>
		<!-- ko with: serviceOrder -->
		<pmbb-edit-entry id="CustomerContactId" params="caption: 'Customer', validationElement: CustomerContactId">
			<select class="form-control" data-bind="select2autocompleter: { data: CustomerContactId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', joins: [{ Selector: 'Addresses', Operation: 'filter(function(x) { x.IsCompanyStandardAddress === true; })' }], mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: $root.customerContactFilter.bind($root), placeholder: $parent.placeholder, onSelect: function(value) { Company(value ? value.asKoObservable() : null); } } }">
			</select>
		</pmbb-edit-entry>
		<!-- /ko -->
	</pmbb-edit>
</pmb-block>
<!-- /ko -->
