@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<pmbb-view>
	<!-- ko with: $data.dispatch -->
	<pmbb-view-entry params="caption: 'DispatchNo'">
		<span data-bind="text: DispatchNo"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DispatchNo"></span>
	</pmbb-view-entry>
	<!-- /ko -->
</pmbb-view>
<pmbb-edit>
	<!-- ko ifnot: (window.Crm.Service.Settings.Dispatch.DispatchNoIsEditable == false && window.Crm.Service.Settings.Dispatch.DispatchNoIsGenerated == false && window.Crm.Service.Settings.Dispatch.DispatchNoIsCreateable == false && DispatchNo() == null) || (window.Helper.Offline !== undefined ? window.Helper.Offline.status=='offline' : false) -->
	<!-- ko requiredPermission: { name: 'Edit', group: 'Dispatch' } -->
	<!-- ko with: $data.dispatch -->
	<pmbb-edit-entry params="caption: 'DispatchNo', validationElement: DispatchNo">
		<input type="text" class="form-control" data-bind="value: DispatchNo, disable: window.Crm.Service.Settings.Dispatch.DispatchNoIsEditable == false">
	</pmbb-edit-entry>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
</pmbb-edit>
