@inherits Crm.Library.Modularization.CrmViewUserControl

<pmb-block params="icon: 'money-box', caption: 'Invoicing', context: { serviceOrder: serviceOrder }, condition: serviceOrderIsEditable, onSave: onSaveInvoicing.bind($root)">
	<pmbb-view>
		<!-- ko with: serviceOrder -->
		<pmbb-view-entry params="caption: 'InvoicingType'">
			<span data-bind="if: InvoicingTypeKey, lookupValue: InvoicingTypeKey, lookups: $root.lookups.invoicingTypes"></span>
			<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InvoicingTypeKey"></span>
		</pmbb-view-entry>
		<pmbb-view-entry params="caption: 'LumpSum'" data-bind="visible: IsCostLumpSum() || IsMaterialLumpSum() || IsTimeLumpSum()" >
			<span data-bind="text: Helper.Service.getLumpSumString($data)"></span>
		</pmbb-view-entry>
		<pmbb-view-entry params="caption: 'Payer'">
			<!-- ko if: Payer -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->    
				<a href="#" data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + Payer().Id() }">
					<span data-bind="text: Helper.Company.getDisplayName(Payer())"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<span data-bind="text: Helper.Company.getDisplayName(Payer())"></span>
				<!-- /ko -->
			<!-- /ko -->
			<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Payer"></span>
			<!-- ko if: PayerAddress -->
			<address-block params="address: PayerAddress, lookups: $root.lookups, showNames: false"></address-block>
			<!-- /ko -->
		</pmbb-view-entry>
		<pmbb-view-entry params="caption: 'InvoiceRecipient'">
			<!-- ko if: InvoiceRecipient -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->    
				<a href="#" data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + InvoiceRecipient().Id() }">
					<span data-bind="text: Helper.Company.getDisplayName(InvoiceRecipient())"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<span data-bind="text: Helper.Company.getDisplayName(InvoiceRecipient())"></span>
				<!-- /ko -->
			<!-- /ko -->
			<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InvoiceRecipient"></span>
			<!-- ko if: InvoiceRecipientAddress -->
			<address-block params="address: InvoiceRecipientAddress, lookups: $root.lookups, showNames: false"></address-block>
			<!-- /ko -->
		</pmbb-view-entry>
		<pmbb-view-entry params="caption: 'Currency'">
			<span data-bind="if: CurrencyKey, lookupValue: CurrencyKey, lookups: $root.lookups.currencies"></span>
			<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: CurrencyKey"></span>
		</pmbb-view-entry>
		<!-- /ko -->
	</pmbb-view>
	<pmbb-edit>
		<!-- ko with: serviceOrder -->
		<pmbb-edit-entry params="caption: 'InvoicingType', validationElement: InvoicingTypeKey">
			<select class="form-control" data-bind="select2autocompleter: { data: InvoicingTypeKey, autocompleteOptions: $.extend(Helper.Lookup.getAutocompleteOptions('Main_InvoicingType'), { onSelect: Helper.Service.onInvoicingTypeSelected.bind(null, $data), placeholder: $parent.placeholder })}">
			</select>
		</pmbb-edit-entry>
		<pmbb-edit-entry id="PayerId" params="caption: 'Payer', validationElement: PayerId">
			<select class="form-control" data-bind="select2autocompleter: { data: PayerId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getAutocompleteFilter, onSelect: $root.onPayerSelect.bind($parentContext.$parentContext.$parent), placeholder: $parent.placeholder } }">
			</select>
		</pmbb-edit-entry>
		<pmbb-edit-entry id="PayerAddressId" params="caption: 'Address', validationElement: PayerAddressId">
			<select class="form-control" data-bind="select2autocompleter: { data: PayerAddressId, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Main_Address', customFilter: $root.payerAddressFilter.bind($parentContext.$parentContext.$parent), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { PayerAddress(value ? value.asKoObservable() : null); } } }, disable: !PayerId()">
			</select>
		</pmbb-edit-entry>
		<pmbb-edit-entry id="InvoiceRecipientId" params="caption: 'InvoiceRecipient', validationElement: InvoiceRecipientId">
			<select class="form-control" data-bind="select2autocompleter: { data: InvoiceRecipientId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getAutocompleteFilter, onSelect: $root.onInvoiceRecipientSelect.bind($parentContext.$parentContext.$parent), placeholder: $parent.placeholder } }">
			</select>
		</pmbb-edit-entry>
		<pmbb-edit-entry id="InvoiceRecipientAddressId" params="caption: 'Address', validationElement: InvoiceRecipientAddressId">
			<select class="form-control" data-bind="select2autocompleter: { data: InvoiceRecipientAddressId, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Main_Address', customFilter: $root.invoiceRecipientAddressFilter.bind($parentContext.$parentContext.$parent), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { InvoiceRecipientAddress(value ? value.asKoObservable() : null); } } }, disable: !InvoiceRecipientId()">
			</select>
		</pmbb-edit-entry>
		<pmbb-edit-entry params="caption: 'Currency', validationElement: CurrencyKey">
			<select class="form-control" data-bind="select2autocompleter: { data: CurrencyKey, autocompleteOptions: $.extend(Helper.Lookup.getAutocompleteOptions('Main_Currency'))}">
			</select>
		</pmbb-edit-entry>
		<!-- /ko -->
	</pmbb-edit>
</pmb-block>
