@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: $data.innerInstance instanceof database.CrmPerDiem_UserExpense.CrmPerDiem_UserExpense -->
<li data-bind="requiredPermission: { name: 'Edit', group: 'Expense' }, visible: $root.canAddExpense && !IsClosed()">
	<a href="#" data-bind="attr: { 'data-route': 'Crm.PerDiem/Expense/EditTemplate/' + Id() }, translatedText: 'Edit'" data-toggle="modal" data-target="#modal">
	</a>
</li>
<!-- /ko -->
