@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-checklists" aria-controls="tab-checklists" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Checklists"))
	</a>
</li>
