@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.currentTabId && $root.currentTabId() === 'tab-relationships' -->
<!-- ko with: ko.utils.arrayFirst($parents, function(x) { return x instanceof window.$data.KoObservableEntity
&& x.innerInstance instanceof database.Main_CompanyPersonRelationship.Main_CompanyPersonRelationship }) -->
<li>
    <a href="#" data-test="edit-company-person-relationship" data-bind="attr: { 'data-route': 'Main/CompanyPersonRelationship/EditTemplate/' + Id() }" data-toggle="modal" data-target="#modal">
        @(Html.Localize("Edit"))
    </a>
</li>
<!-- ko with: $root.tabs()['tab-relationships'] -->
<li>
    <a href="#" data-test="delete-company-person-relationship" data-bind="click: $data.deleteRelationship.bind($data, $parent)">
        @(Html.Localize("Delete"))
    </a>
</li>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
