@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: $root.currentTabId && $root.currentTabId() === 'tab-relationships' -->
<!-- ko with: ko.utils.arrayFirst($parents, function(x) { return x instanceof window.$data.KoObservableEntity
&& x.innerInstance instanceof database.Main_CompanyPersonRelationship.Main_CompanyPersonRelationship }) -->
<!-- ko if: Information -->
<div class="media">
    <div class="media-body">
        <i class="zmdi zmdi-info-outline"></i>
        <span data-test="company-person-relationship-information"  data-bind="text: Information"></span>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
