@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<div class="container">
	<div class="card">
		<div class="card-header ch-alt">
			<h2 data-bind="translatedText: 'EditUserGroup'"></h2>
		</div>
		<div class="card-body card-padding">
			<form role="form" data-bind="with: userGroup">
				<div class="row">
					<div class="col-md-6">
						<form-element id="Name" params="value: Name, caption: 'Name', type: 'text'"></form-element>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form-element id="Members" params="value: Members, caption: 'Members', type: 'select'">
							<select class="form-control" name="VisibleToUserIds" multiple="multiple"
							        data-bind="select2autocompleter: $root.membersSelect2autocompleter(), selectedOptions: $root.Members">
							</select>
						</form-element>
					</div>
				</div>
				@Html.PluginRenderActions("UserGroupEdit")
			</form>
		</div>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>