@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions
<div class="container">
	<div class="flex-md">
		@Html.PluginRenderActions("DashboardMiniChart")
	</div>
	@Html.PluginRenderActions("Dashboard")
</div>
