<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Configuration/BravoActiveForProjects" value="true"/>

		<add key="Potential/PotentialNoIsGenerated" value="true"/>
		<add key="Potential/PotentialNoIsCreateable" value="false"/>
		<add key="Potential/PotentialNoIsEditable" value="false"/>

		<add key="ProjectNoIsGenerated" value="true"/>
		<add key="ProjectNoIsCreateable" value="false"/>
		<add key="ProjectNoIsEditable" value="false"/>
		
		<!-- If set to true, in project details the StandardAddress of the Project instead of the StandardAddress of the Parent is displayed -->
		<add key="ProjectsHaveAddresses" value="false"/>
	</appSettings>
</configuration>