@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li title="@(Html.Localize("PauseAll"))" data-bind="click: $root.pauseAllTriggers, tooltip: true" data-placement="bottom">
	<a href="#">
		<i class="tm-icon zmdi zmdi-pause"></i>
	</a>
</li>

