<div class="lv-item media" id="{{Id}}">
	@await Html.PartialAsync("GenericListBulkControl")
	<div data-bind="visible: !$parent.selectedItems || $parent.selectedItems().length === 0">
		<!-- ko if: Avatar -->
		<div class="lv-avatar pull-left">
			<img data-bind="attr: { src: 'data:image;base64,' + Avatar() }"/>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: Avatar -->
		<div class="lv-avatar pull-left" data-bind="style: { backgroundColor: $parent.getColor($data) }, text: Helper.User.getDisplayName($data)[0]"></div>
		<!-- /ko -->
	</div>
	<div class="media-body panel-heading">
		<div class="row">
			<div class="col-sm-6">
				<div class="lv-title">
					<!-- ko requiredPermission: { name: 'UserDetail', group: 'UserAdmin' } -->
					<a href="#/Main/User/DetailsTemplate/{{Id}}">
						<span data-bind="text: Helper.User.getDisplayName($data)"></span>
					</a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'UserDetail', group: 'UserAdmin' } -->
					<span data-bind="text: Helper.User.getDisplayName($data)"></span>
					<!-- /ko -->
				</div>
				<div class="small">		
					<span data-bind="translatedText: 'Roles'"></span>:
				  <!-- ko foreach: Roles().sort((a, b) => a.Name().localeCompare(b.Name())) -->
					  <!-- ko if: $data.Name() !== 'Administrator' -->
					  <a data-bind="attr:{'href':'#/Main/Role/Details/' + $data.UId() }">
						  <span data-bind="text: $index() !== $parent.Roles().length -1  ? $data.Name() + ', ' :  $data.Name()"></span>
					  </a>
					  <!-- /ko -->
					  <!-- ko if: $data.Name() === 'Administrator' -->
						  <span data-bind="text: $index() !== $parent.Roles().length -1 ? $data.Name() + ', ' :  $data.Name()"></span>
					  <!-- /ko -->
					<!-- /ko -->
					<span data-bind="translatedText: 'NoRolesAssigned', visible: Roles().length === 0"></span>
				</div>
				<div class="small">
					<span data-bind="translatedText: 'UserGroups'"></span>:
					<span data-bind="text: UsergroupObjects().map(x => x.Name()).sort((a,b) => a.localeCompare(b)).join(', ')"></span>
					<span data-bind="translatedText: 'NoUsergroupsAssigned', visible: UsergroupObjects().length === 0"></span>
				</div>
				<div class="small">
					<span data-bind="translatedText: 'Stations'"></span>:
					<span data-bind="text: Stations().map((station) => Helper.Station.getDisplayName(station)).sort((a,b) => a.localeCompare(b)).join(', ')"></span>
					<span data-bind="translatedText: 'NotAssigned', visible: Stations().length === 0"></span>
				</div>
			</div>
			<div class="col-sm-6">
				<br />
				<div class="small">
					<span data-bind="translatedText: 'LastLoginLabel'"></span>:
					<!-- ko if: LastLoginDate -->
					<span data-bind="text: Globalize.formatDate(LastLoginDate(), { datetime: 'medium' })"></span>
					<!-- /ko -->
					<!-- ko ifnot: LastLoginDate -->
					<span data-bind="translatedText: 'LastLoginNever'"></span>
					<!-- /ko -->
				</div>
				<!-- ko if: DischargeDate -->
				<div class="small">
					<!-- ko if: Discharged -->
					<span data-bind="text: Helper.String.getTranslatedString('InactiveSince').replace('{0}', Globalize.formatDate(DischargeDate()))"></span>
					<!-- /ko -->
					<!-- ko ifnot: Discharged -->
					<span data-bind="translatedText: 'DischargeDate'"></span>:
					<span data-bind="dateText: DischargeDate"></span>
					<!-- /ko -->
				</div>
				<!-- /ko -->
			</div>
			<!-- ko requiredPermission: { name: 'SignalR', group: 'UserAdmin' } -->
			<div class="col-sm-6" data-bind="with: SignalRInformation">
				<div class="small">
					<span data-bind="translatedText: 'LogLevel'"></span>:
					<span data-bind="text: Crm.Library.Signalr.JavaScriptLogLevel.getEnumName(JavaScriptLogLevel)"></span>
				</div>
			</div>
			<!-- /ko -->
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="lv-attrs">
					<li>
						<span data-bind="translatedText: 'EMail'"></span>:
						<span data-bind="text: Email"></span>
					</li>
					<li data-bind="visible: AdName">
						<span data-bind="translatedText: 'AdName'"></span>:
						<span data-bind="text: AdName"></span>
					</li>
					<li>
						<span data-bind="translatedText: 'UserName'"></span>:
						<span data-bind="text: Id"></span>
					</li>
					<li data-bind="visible: PersonnelId">
						<span data-bind="translatedText: 'PersonnelId'"></span>:
						<span data-bind="text: PersonnelId"></span>
					</li>
					<!-- ko requiredPermission: { name: 'SignalR', group: 'UserAdmin' } -->
					<!-- ko with: SignalRInformation -->
					<li class="c-green" data-bind="visible: Connected">
						<strong data-bind="translatedText: 'Online'"></strong>
					</li>
					<li data-bind="visible: LocalStorageLogs.length > 0">
						<span data-bind="text: LocalStorageLogs.length"></span>
						<span data-bind="translatedText: 'LogCount'"></span> (localStorage)
					</li>
					<li data-bind="visible: LocalDatabaseLogs.length">
						<span data-bind="text: LocalDatabaseLogs.length"></span>
						<span data-bind="translatedText: 'LogCount'"></span> (localDatabase)
					</li>
					<!-- /ko -->
					<!-- /ko -->
				</ul>
			</div>
		</div>
		<lv-actions>
			<li>
				<a href="#/Main/User/DetailsTemplate/{{Id}}" data-bind="translatedText: 'Details'"></a>
			</li>
			<!-- ko ifnot: window.Main.Settings.UseActiveDirectoryAuthenticationService || window.Main.Settings.UseOpenIdAuthentication -->
			<li>
				<a href="#" data-toggle="modal" data-target="#smModal" data-route="Main/User/ResetPassword/{{Id}}" data-bind="translatedText: 'ResetUserPassword'"></a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'UserResetGeneralToken', group: 'UserAdmin' } -->
			<!-- ko if: $root.resetGeneralToken -->
			<li>
				<a class="resetGeneralToken" href="#" data-bind="click: $root.resetGeneralToken, translatedText: 'ResetGeneralToken'"></a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: $root instanceof Main.ViewModels.UserListIndexViewModel -->
			<!-- ko requiredPermission: { name: 'ToggleActive', group: 'UserAdmin' } -->
			<li>
				<a href="#" data-bind="click: $root.toggleActive, translatedText: Discharged() ? 'ActivateUser' : 'DischargeUser'"></a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'SignalR', group: 'UserAdmin' } -->
			<!-- ko if: SignalRInformation.Connected -->
			<li class="divider"></li>
			<li>
				<a href="#" data-toggle="modal" data-target="#smModal" data-route="Main/UserAdmin/EditLogLevel/{{Id}}" data-bind="translatedText: 'EditLogLevel'"></a>
			</li>
			<!-- ko if: $root instanceof Main.ViewModels.UserListIndexViewModel -->
			<li>
				<a href="#" data-bind="translatedText: 'RequestLocalStorage', click: $root.requestLocalStorage"></a>
			</li>
			<li>
				<a href="#" data-bind="translatedText: 'RequestLocalDatabase', click: $root.requestLocalDatabase"></a>
			</li>
			<!-- /ko -->
			<li>
				<a href="#" data-toggle="modal" data-target="#lgModal" data-route="Main/UserAdmin/JavaScriptCommand/{{Id}}" data-bind="translatedText: 'SendJavaScriptCommand'"></a>
			</li>
			<!-- /ko -->
			<!-- ko if: SignalRInformation.LocalDatabaseLogs.length > 0 || SignalRInformation.LocalStorageLogs.length > 0 -->
			<li class="divider"></li>
			<li>
				<a href="#" data-toggle="modal" data-target="#lgModal" data-route="Main/UserAdmin/LogEntries/{{Id}}" data-bind="translatedText: 'LogCount'"></a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
		</lv-actions>
	</div>
</div>