@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko with: replenishmentOrder -->
<table class="table">
	<thead>
		<tr>
			<th class="bgm-bluegray c-white">@(Html.Localize("ArticleNo"))</th>
			<th class="bgm-bluegray c-white">@(Html.Localize("Description"))</th>
			<th class="bgm-bluegray c-white text-right">@(Html.Localize("Quantity"))</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: Items -->
		<tr>
			<td data-bind="text: MaterialNo"></td>
			<td>
				<span data-bind="text: Description"></span>
				<!-- ko if: ServiceOrderMaterials().length > 0 -->
				<br/>
				<span data-bind="text: ServiceOrderMaterials()[0].ServiceOrderHead().OrderNo"></span>
				<!-- /ko -->
				<div class="small c-gray" data-bind="text: Remark"></div>
			</td>
			<td class="text-right">
				<span data-bind="money: Quantity"></span>&nbsp;<span data-bind="lookupValue: QuantityUnitKey, lookups: $root.lookups.quantityUnits"></span>
			</td>
		</tr>
		<!-- ko if: $index() === $root.replenishmentOrder().Items().length-1 || $root.replenishmentOrder().Items()[$index() +1].MaterialNo() !== MaterialNo() -->
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="text-right">
				<strong data-bind="money: $root.sumQty(MaterialNo())"></strong>&nbsp;<strong data-bind="lookupValue: QuantityUnitKey, lookups: $root.lookups.quantityUnits"></strong>
			</td>
		</tr>
		<!-- /ko -->
		<!-- /ko -->
	</tbody>
</table>
<!-- /ko -->
