@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<h1 class="text-right">
	@(Html.Localize("ReplenishmentOrder"))
</h1>
<!-- ko with: replenishmentOrder -->
<h4 class="text-right c-gray">
	<span class="c-gray" data-bind="dateText: { value: CloseDate, pattern: { date: 'full' } }"></span>
	<br />
	<span class="c-gray" data-bind="text: Helper.User.getDisplayName(ResponsibleUserObject), visible: ResponsibleUserObject"></span>
	<!-- ko with: ResponsibleUserObject -->
	<!-- ko with: ExtensionValues -->
	<!-- ko if: DefaultStoreNo -->
	(@(Html.Localize("Store")) <span class="c-gray" data-bind="text: DefaultStoreNo"></span>)
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
</h4>
<!-- /ko -->
