<li role="presentation" data-bind="visible: $root.form().CategoryKey() !=='PDF-Checklist'">
	<a class="col-xs-4 p-b-0" href="#tab-edit-field" aria-controls="tab-edit-field" role="tab" data-toggle="tab" aria-expanded="false">
		<i class="zmdi zmdi-edit zmdi-hc-2x"></i>
		<h6 data-bind="translatedText: 'EditField'"></h6>
	</a>
</li>