<li role="presentation">
	<a class="col-xs-4 p-b-0" href="#tab-edit-form" aria-controls="tab-edit-form" role="tab" data-toggle="tab" aria-expanded="false">
		<i class="zmdi zmdi-settings zmdi-hc-2x"></i>
		<h6 data-bind="translatedText: 'EditForm'"></h6>
	</a>
</li>