<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Available options: MixedMaterialAndTimes, SeparateMaterialAndTimes-->
		<add key="PosNoGenerationMethod" value="MixedMaterialAndTimes" />
		<add key="AdHoc/AdHocNumberingSequenceName" value="SMS.ServiceOrderHead.AdHoc" />

		<add key="Dispatch/DispatchNoIsGenerated" value="false"/>
		<add key="Dispatch/DispatchNoIsCreateable" value="false"/>
		<add key="Dispatch/DispatchNoIsEditable" value="false"/>
		<add key="Dispatch/SuppressEmptyMaterialsInReport" value="false" />
		<add key="Dispatch/SuppressEmptyTimePostingsInReport" value="false" />
		<add key="Dispatch/SuppressEmptyJobsInReport" value="false" />
		
		<add key="Email/ReplenishmentOrderRecipients" value=""/>
		<add key="Email/ClosedByRecipientForReplenishmentReport" value="false"/>
		<add key="Email/DispatchReportRecipients" value=""/>

		<add key="Email/SendDispatchNotificationEmails" value="false" />
		<add key="Email/SendDispatchRejectNotificationEmails" value="false" />
		<add key="Email/SendDispatchFollowUpOrderNotificationEmails" value="false" />
		<add key="Email/SendDispatchReportsOnCompletion" value="true" />
		<add key="Email/SendDispatchReportToDispatcher" value="false" />
		<add key="Email/SendDispatchReportToTechnician" value="true" />
		<add key="Email/SendServiceOrderReportsOnCompletion" value="false" />
		<add key="Email/SendServiceOrderReportToDispatchers" value="false" />

		<add key="Export/ExportDispatchReportsOnCompletion" value="false" />
		<!-- Available placeholders {DispatchId},
																	{OrderNo},
																	{Date-yyyy},
																	{Date-MM},
																	{Date-dd},
																	{UserAdName},
																	{UserPersonnelId},
																	{UserDisplayName},
																	{CustomerNo},
																	{InstallatioNo}, empty values will be removed -->
		<add key="Export/ExportDispatchReportsPath" value="\\unc\path\{Date-yyyy}\" />
		<add key="Export/ExportDispatchReportsUncUser" value="" />
		<add key="Export/ExportDispatchReportsUncDomain" value="" />
		<add key="Export/ExportDispatchReportsUncPassword" value="" />
		<add key="Export/ExportDispatchReportsFilePattern" value="{Date-yyyy}{Date-MM}{Date-dd}_{DispatchId}" />
		<add key="Export/ExportDispatchReportsControlFilePattern" value="{Date-yyyy}{Date-MM}{Date-dd}_{DispatchId}" />
		<add key="Export/ExportDispatchReportsControlFileExtension" value="ctl" />
		<add key="Export/ExportDispatchReportsControlFileContent" value="&quot;Controlfile&quot;" />

		<add key="Export/ExportServiceOrderReportsOnCompletion" value="false" />
		<add key="Export/ExportServiceOrderReportsPath" value="" />
		<add key="Export/ExportServiceOrderReportsUncUser" value="" />
		<add key="Export/ExportServiceOrderReportsUncDomain" value="" />
		<add key="Export/ExportServiceOrderReportsUncPassword" value="" />
		<add key="ReplenishmentOrder/ClosedReplenishmentOrderHistorySyncPeriod" value="180" />
		<add key="InstallationNoIsGenerated" value="false"/>
		<add key="InstallationNoIsCreateable" value="true"/>
		<add key="InstallationNoIsEditable" value="false"/>

		<add key="ServiceCase/OnlyInstallationsOfReferencedCustomer" value="true" />
		<add key="ServiceCase/Signature/Enable/Technician" value="true" />
		<add key="ServiceCase/Signature/Enable/Originator" value="true" />
		<add key="ServiceCase/ServiceCaseNoIsGenerated" value="true"/>
		<add key="ServiceCase/ServiceCaseNoIsCreateable" value="false"/>
		<add key="ServiceCase/ServiceCaseNoIsEditable" value="false"/>

		<add key="ServiceContract/OnlyInstallationsOfReferencedCustomer" value="true" />
		<!-- Available options: JobPerInstallation, OrderPerInstallation-->
		<add key="ServiceContract/MaintenanceOrderGenerationMode" value="OrderPerInstallation" />
		<add key="ServiceContract/CreateMaintenanceOrderTimeSpanDays" value="30" />
		<add key="ServiceContract/MaintenancePlan/AvailableTimeUnits" value="Year,Quarter,Month,Week,Day"/>
		<add key="ServiceContract/ReactionTime/AvailableTimeUnits" value="Year,Quarter,Month,Week,Day,Hour"/>
		<add key="ServiceContract/ServiceContractNoIsGenerated" value="true"/>
		<add key="ServiceContract/ServiceContractNoIsCreateable" value="false"/>
		<add key="ServiceContract/ServiceContractNoIsEditable" value="false"/>

		<add key="ServiceObject/ObjectNoIsGenerated" value="false"/>
		<add key="ServiceObject/ObjectNoIsCreateable" value="false"/>
		<add key="ServiceObject/ObjectNoIsEditable" value="false"/>
		
		<add key="ServiceOrder/DefaultDuration" value="04:00" />
		<add key="ServiceOrder/OnlyInstallationsOfReferencedCustomer" value="true" />
		<add key="ServiceOrder/GenerateAndAttachJobsToUnattachedTimePostings" value="true" />
		<add key="ServiceOrder/OrderNoIsGenerated" value="true"/>
		<add key="ServiceOrder/OrderNoIsCreateable" value="false"/>
		<add key="ServiceOrder/OrderNoIsEditable" value="false"/>

		<add key="ServiceOrderDispatch/ToggleSingleJob" value="true" />
		<add key="ServiceOrderDispatch/ReadGeolocationOnDispatchStart" value="false" />
		<add key="ServiceOrderDispatch/CustomerSignatureIncludesLegacyId" value="true" />
		<add key="Service/Dispatch/Requires/CustomerSignature" value="true"/>

		<add key="ServiceOrderTimePosting/ShowTechnicianSelection" value="true" />
		<add key="ServiceOrderTimePosting/ClosedTimePostingsHistorySyncPeriod" value="7" />
		<add key="ServiceOrderTimePosting/MaxDaysAgo" value="7" />
		<add key="ServiceOrderTimePosting/MinutesInterval" value="5"/>
		<add key="ServiceOrderTimePosting/AllowOverlap" value="false" />
		<add key="ServiceOrderTimes/ShowPricesInMobileClient" value="true" />
		<add key="ServiceOrderMaterial/ShowPricesInMobileClient" value="true" />
		<add key="ServiceOrderMaterial/CreateReplenishmentOrderItemsFromServiceOrderMaterial" value="true" />

		<add key="UserExtension/OnlyUnusedLocationNosSelectable" value="true" />
		
		<add key="Service/Dispatch/Show/PrivacyPolicy" value="true" />
		<!-- Available options: NONE, WARN, ERROR -->
		<add key="Service/Dispatch/Show/EmptyTimesOrMaterialsWarning" value="NONE" />
		<add key="Service/Installation/Position/TreeLevelDisplayLimit" value="5" />
	</appSettings>
</configuration>