@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-available-binaries" aria-controls="tab-available-binaries" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("SchedulerAvailableBinaries"))
	</a>
</li>