@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li data-bind="with: $parent">
	<a id="add-binary" href="#" data-mfb-label="@(Html.Localize("SchedulerAddBinaries"))" data-route="Sms.Einsatzplanung.Connector/SchedulerMaterial/AddBinaryEditor" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-file-plus"></i>
	</a>
</li>