@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li data-bind="with: $parent">
	<a id="add-config" href="#" data-mfb-label="@(Html.Localize("AddConfig"))" data-route="Sms.Einsatzplanung.Connector/SchedulerMaterial/SettingsEditor" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-code-setting"></i>
	</a>
</li>