@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-scheduler-management" aria-controls="tab-scheduler-management" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("SchedulerManagement"))
	</a>
</li>