@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-erp-documents" aria-controls="tab-erp-documents" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'ErpDocuments'">
	</a>
</li>
