<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Email/PerDiemReportRecipients" value="alexander.eisold@l-mobile.com,luca.kraemer@l-mobile.com,Holger.Wittig@kagema.net,Christoph.Ballosch@kagema.net,Jens.Neuhaeuser@kagema.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Email/TimeEntryReportRecipients" value="alexander.eisold@l-mobile.com,luca.kraemer@l-mobile.com,Holger.Wittig@kagema.net,Christoph.Ballosch@kagema.net,Jens.Neuhaeuser@kagema.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
			<add key="TimeEntry/MinutesInterval" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>