<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="Email/PerDiemReportRecipients" value="alexander.eisold@l-mobile.com,luca.kraemer@l-mobile.com,Holger.Wittig@kagema.net,Christoph.Ballosch@kagema.net,Jens.Neuhaeuser@kagema.net" />
		<add key="Email/SendPerDiemReportToResponsibleUser" value="false" />
		<add key="Expense/ClosedExpensesHistorySyncPeriod" value="7" />
		<add key="Expense/MaxDaysAgo" value="7" />
		<add key="PerDiemReport/ShowClosedReportsSince" value="60" />
		<add key="PerDiemReport/ReportHeaderMargin" value="1.0" />
		<add key="PerDiemReport/ReportHeaderSpacing" value="0.0" />
		<add key="PerDiemReport/ReportFooterMargin" value="1.0" />
		<add key="PerDiemReport/ReportFooterSpacing" value="0.0" />
		<add key="TimeEntry/ClosedTimeEntriesHistorySyncPeriod" value="7" />
		<add key="TimeEntry/DefaultStart" value="07:00" />
		<add key="TimeEntry/MaxDaysAgo" value="7" />
		<add key="TimeEntry/MinutesInterval" value="15" />
		<add key="TimeEntry/AllowOverlap" value="false" />
		<add key="TimeEntry/DefaultWorkingHoursPerDay" value="8" />
	</appSettings>
</configuration>