@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="requiredPermission: { name: 'Load', group: 'Offer' }">
	<a href="#" data-route="Crm.Order/Offer/Load" data-toggle="modal" data-target="#lgModal">
		<i class="zmdi zmdi-square-down"></i>
		@(Html.Localize("Load"))
	</a>
</li>
