@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		@(Html.Localize("Preview"))
	</h4>
</div>
<div class="modal-body card-body card-padding">
	 @await Html.PartialAsync("Report/Header") 
	 @await Html.PartialAsync("OfferPdfContent") 
	 @await Html.PartialAsync("Report/Footer") 
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button class="btn btn-float bgm-blue m-btn" data-action="print" data-bind="click: function () { window.print(); }">
		<i class="zmdi zmdi-print"></i>
	</button>
</div>
