<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="OffersEnabled" value="true"/>
		<add key="OffersEnableExport" value="true"/>
		<add key="OrdersEnableExport" value="true"/>
		<add key="ValidToDefaultTimespan" value="30"/>
		<add key="OrderBarcodeEnabled" value="true"/>
		<add key="OrderBillingAddressEnabled" value="true"/>
		<add key="OrderComissionEnabled" value="true"/>
		<add key="OrderDeliveryAddressEnabled" value="true"/>
		<add key="OrderItemDiscountEnabled" value="true"/>
		<add key="OrderPrivateDescriptionEnabled" value="true"/>
		<add key="OrderSignatureEnabled" value="true"/>
		<add key="PDFHeaderMargin" value="1.5"/>
		<add key="PDFFooterMargin" value="5.1"/>
		<add key="PDFFooterTextPush" value="25.5"/>
		<add key="Order/Show/PrivacyPolicy" value="true"/>
		<add key="Order/Report/IncludePrivacyPolicy" value="true"/>
		<add key="Order/OrderNoIsGenerated" value="true"/>
		<add key="Order/OrderNoIsCreateable" value="false"/>
		<add key="Order/OrderNoIsEditable" value="false"/>
		<add key="Offer/OfferNoIsGenerated" value="true"/>
		<add key="Offer/OfferNoIsCreateable" value="false"/>
		<add key="Offer/OfferNoIsEditable" value="false"/>
	</appSettings>
</configuration>