<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Use Infor Version 6.3 or 7.1 here -->
		<add key="InforExport/InforErpComVersion" value="7.1"/>
		<!-- Depending on the used oracle version field names may not exceed 16 chars, Oracle version 10 and higher support long field names -->
		<add key="InforExport/ShortFieldNames" value="false"/>
		<add key="ErpConnectionString" value=""/>
	</appSettings>
</configuration>