@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $root.company -->
<li role="presentation">
	<a class="col-xs-4" href="#tab-relationships" aria-controls="tab-relationships" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Relationships"))
	</a>
</li>
<!-- /ko -->
