<li role="presentation" data-bind="visible: database.storageProvider.name === 'oData'">
	<a class="col-xs-4" href="#tab-users" aria-controls="tab-users" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'AssignedUsers'"></a>
</li>