@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="modal-header card-header ch-alt" data-bind="mProgress: loading">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		@(Html.Localize("SetStatus"))
	</h4>
</div>
<div class="modal-body card-body card-padding">
	<form>
		<form-element params="value: statusKey, caption: 'ServiceCaseStatus', type: 'select'">
			<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceCaseStatus'), placeholder: placeholder }">
			</select>
		</form-element>
		@Html.PluginRenderActions("ServiceCaseSetStatus")
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal" data-bind="disable: loading">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: submit, disable: loading">
		@(Html.Localize("SetStatus"))
	</button>
</div>
