@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko requiredPermission: { name: 'Create', group: 'DocumentAttribute' } -->
<li data-bind="with: $parent">
	<a href="#" data-mfb-label="@(Html.Localize("NewDocument"))" data-route="Crm.Service/Installation/DocumentAttributeEditTemplate/?contactId={{$root.installation().Id()}}" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-plus"></i>
	</a>
</li>
<!-- /ko -->
