@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-positions" aria-controls="tab-positions" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("BillOfMaterial"))
	</a>
</li>
