@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions


<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-projects" data-bind="with: tabs()['tab-projects']">
	<ul class="top-menu">
		<li data-bind="visible: true, tooltip: true" data-placement="bottom" title="@(Html.Localize("Filter"))">
			<a id="open-generic-list-filter" data-trigger="#right-nav" href="#" data-route="@("Crm.Project/ProjectList/FilterTemplate")">
				<i class="tm-icon zmdi zmdi-search-in-page"></i>
			</a>
		</li>
	</ul>
	<empty-state-box params="mood: 'sad', title: 'ProjectsEmptyStateTitle', text: 'NoProjectsForContact'" data-bind="visible: items().length === 0">
	</empty-state-box>
	<div class="generic-list listview lv-bordered">
		<div class="lv-body" data-bind="foreach: items">
	  	@await Html.PartialAsync("GenericListItemGroup") 
			@await Html.PartialAsync("MaterialProject") 
		</div>
	</div>
		@await Html.PartialAsync("MaterialPaging")
		<floating-action-button params="href: '#/Crm.Project/Project/CreateTemplate?parentId='+$root.marketInsight().ParentId()+'&productFamilyKey='+$root.marketInsight().ProductFamilyKey(), icon: 'plus', title: 'CreateProject'"></floating-action-button>
</div>

