<?xml version="1.0"?>
<log4net>
	<root>
		<level value="INFO" />
	</root>

	<logger name="NHibernate">
		<level value="ERROR" />
	</logger>

	<logger name="NHibernate.SQL">
		<level value="ERROR" />
	</logger>

	<logger name="Quartz">
		<level value="ERROR" />
	</logger>

	<logger name="Autofac.Extras.Quartz.AutofacJobFactory">
		<level value="ERROR" />
	</logger>

	<logger name="Microsoft.AspNetCore">
		<level value="ERROR" />
	</logger>
</log4net>