@inherits Crm.Library.Modularization.CrmViewUserControl<int>
@using Crm.Library.Globalization.Extensions

<li class="relationships">
	<a href="#relationships">@(Html.Localize("Relationships")) (<span class="count">@(Model)</span>)</a>
</li>
