<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!-- Available options: JobPerInstallation, OrderPerInstallation-->
		<add key="ServiceContract/MaintenanceOrderGenerationMode" value="JobPerInstallation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ServiceOrderTimePosting/ItemNosWithKilometerSelection" value="ANFAHRT"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Email/DispatchReportRecipients" value="alexander.eisold@l-mobile.com,Holger.Wittig@kagema.net,Christoph.Ballosch@kagema.net,Jens.Neuhaeuser@kagema.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Email/ReplenishmentOrderRecipients" value="alexander.eisold@l-mobile.com,luca.kraemer@l-mobile.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Email/DispatchReportSenderName" value="lmobileservice@kagema.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Email/ServiceOrderReportSenderName" value="alexander.eisold@l-mobile.com,luca.kraemer@l-mobile.com,lmobileservice@kagema.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ServiceOrderTimePosting/ValidItemNosAfterCustomerSignature" value="ANFAHRT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ServiceOrderTimePosting/MinutesInterval" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Service/Dispatch/Show/EmptyTimesOrMaterialsWarning" value="WARN"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="Export/ExportServiceOrderReportsOnCompletion" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Export/ExportServiceOrderReportsPath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	
	
	</appSettings>
</configuration>