<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Export TimePostings after retrieving a completed dispatch to update the visual representation in the scheduler -->
		<!-- TimePostingActive Enable/Disable the export -->
		<!-- TimePostingItemNos (comma-separated) The list of service item numbers to export dispatches for e.g. 0300,0400-->
		<add key="Export/TimePostingActive" value="false" />
		<add key="Export/TimeZoneId" value="W. Europe Standard Time" />
		<add key="Setup/Name" value="Einsatzplanung" />
		<add key="Setup/Flavor" value="Test" /> <!-- use this to distinguish e.g. Prod and Test -->
		<add key="Setup/OverrideRestEndPoint" value="true" />
		<add key="Setup/OverrideDatabaseHostAndCatalog" value="true" />
		<add key="Setup/AppendFlavorToCompanyName" value="true" />
		<add key="Setup/OverrideGoogleMapsApiKey" value="true" />
		<add key="DashboardCalendar/ShowAbsencesInCalendar" value="true" />
	</appSettings>
</configuration>