@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
	<a id="Edit-Location" href="#" data-toggle="modal" data-target="#modal" data-route="Crm.Service/Location/EditTemplate/{{$data.Id}}">
		@(Html.Localize("Edit"))
	</a>
</li>
<li>
	<a href="#" data-bind="click: () => $root.deleteLocation($data)">
		@(Html.Localize("Delete"))
	</a>
</li>