<div>
	<pmb-block params="icon: 'wrench', caption: 'Service', context: { article: article }, condition: window.AuthorizationManager.isAuthorizedForAction($root.contactType(), 'Edit'), onSave: onSaveArticleServiceExtensions">
		<pmbb-view>
			<!-- ko with: article -->
			<!-- ko with: ExtensionValues -->
			<!-- ko if: $root.article().ArticleTypeKey() === 'Service' || $root.article().ArticleTypeKey() === 'Material' || $root.article().ArticleTypeKey() === 'Cost' -->
			<pmbb-view-entry params="caption: 'CanBeAddedAfterCustomerSignature'">
				<span data-bind="translatedText: 'Yes', visible: CanBeAddedAfterCustomerSignature() === true"></span>
				<span data-bind="translatedText: 'No', visible: CanBeAddedAfterCustomerSignature() === false"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<!-- ko if: $root.article().ArticleTypeKey() === 'Service' -->
			<pmbb-view-entry params="caption: 'ShowDistanceInput', hint: 'ShowDistanceInputInTimePostingHint'">
				<span data-bind="translatedText: 'Yes', visible: ShowDistanceInput() === true"></span>
				<span data-bind="translatedText: 'No', visible: ShowDistanceInput() === false"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'IsDefaultForServiceOrderTimes'">
				<span data-bind="translatedText: 'Yes', visible: IsDefaultForServiceOrderTimes() === true"></span>
				<span data-bind="translatedText: 'No', visible: IsDefaultForServiceOrderTimes() === false"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'IsHidden', hint: 'ServiceArticleIsHiddenInTimePostingHint'">
				<span data-bind="translatedText: 'Yes', visible: IsHidden() === true"></span>
				<span data-bind="translatedText: 'No', visible: IsHidden() === false"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: article -->
			<!-- ko with: ExtensionValues -->
			<!-- ko if: $root.article().ArticleTypeKey() === 'Service' || $root.article().ArticleTypeKey() === 'Material' || $root.article().ArticleTypeKey() === 'Cost' -->
			<pmbb-edit-entry params="caption: 'CanBeAddedAfterCustomerSignature', validationElement: CanBeAddedAfterCustomerSignature">
				<input type="checkbox" class="form-control" data-bind="value: CanBeAddedAfterCustomerSignature, checked: CanBeAddedAfterCustomerSignature">
			</pmbb-edit-entry>
			<!-- /ko -->
			<!-- ko if: $root.article().ArticleTypeKey() === 'Service' -->
			<pmbb-edit-entry params="caption: 'ShowDistanceInput', validationElement: ShowDistanceInput">
				<input type="checkbox" class="form-control" data-bind="value: ShowDistanceInput, checked: ShowDistanceInput">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'IsDefaultForServiceOrderTimes', validationElement: IsDefaultForServiceOrderTimes">
				<input type="checkbox" class="form-control" data-bind="value: IsDefaultForServiceOrderTimes, checked: IsDefaultForServiceOrderTimes">
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'IsHidden', validationElement: IsHidden">
				<input type="checkbox" class="form-control" data-bind="value: IsHidden, checked: IsHidden">
			</pmbb-edit-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
</div>