<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!-- Available options: JobPerInstallation, OrderPerInstallation-->
		<add key="Geocoder/GoogleMapsApiKey" value="AIzaSyD09HLK72wX2tmAlWthoqdT_RoF6OmuQgw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SoftDelete" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Email/SenderImpersonation" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="MaxFileLengthInKb" value="25600" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="UseActiveDirectoryAuthenticationService" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ActiveDirectoryEndpoint" value="LDAP://kgmnav.local:389" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Report/FooterHeight" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	</appSettings>
</configuration>