<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Address/DisplayOnlyRegionKey" value="false" />
		<!-- When set to false, the CompanyType dropdown is disabled. For a new company the company type is set to the CompanyType which is marked as favorite in the lookup table. Feature can be useful if contacts are imported from an ERP whereas the companies created in the L-mobile system should all belong to a specific company type, e.g. "Interessent" -->
		<add key="AllowCompanyTypeSelection" value="true" />
		<!-- When set to true, companies with a legacy Id can be edited (i.e. the edit link is displayed) -->
		<add key="AllowEditCompanyWithLegacyId" value="true" />
		<!-- When set to true, persons with a legacy Id can be edited (i.e. the edit link is displayed) -->
		<add key="AllowEditPersonWithLegacyId" value="true" />
		<!-- When set to true, addresses with a legacy Id can be edited (i.e. the edit link is displayed) -->
		<add key="AllowEditAddressWithLegacyId" value="true" />

		<add key="CefToPdfPath" value="" />
		<add key="Configuration/BravoActiveForCompanies" value="true" />
		<add key="Configuration/BravoActiveForPersons" value="true" />
		<add key="CompanyGroupFlags/AreSearchable" value="true" />

		<!-- This seting is used if the CompanyNo should be created by the system-->
		<add key="CompanyNoIsGenerated" value="false" />
		<add key="CompanyNoIsCreateable" value="false" />
		<add key="CompanyNoIsEditable" value="false" />

		<add key="DropboxDomain" value="maildropbox.example.com" />
		<add key="DropboxLogMessages" value="false" />
		<add key="DropboxForwardPrefixes" value="WG:,Fwd:,FW:" />
		<!-- This setting is used to limit the storage of attached file belonging to Dropbox EmailNote-->
		<add key="MinFileSizeInBytes" value="5000" />

		<!-- this setting can be used to change the defined smtp from sender to the current user email address
			make sure the smtp server will relay messages send on behalf of the user -->
		<add key="Email/SenderImpersonation" value="false" />

		<add key="FileResource/ContentTypesOpenedWithoutSandbox" value="application/pdf,image/*" />

		<!-- Google: https://{s}.google.com/vt/lyrs=m{and}x={x}{and}y={y}{and}z={z} -->
		<!-- OpenStreetMap: https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png -->
		<add key="MapTileLayerUrl" value="https://{s}.google.com/vt/lyrs=m{and}x={x}{and}y={y}{and}z={z}" />

		<add key="Lucene/LegacyNameIsDefault" value="false" />

		<add key="Person/BusinessTitleIsLookup" value="false" />
		<add key="Person/DepartmentIsLookup" value="false" />
		<add key="RedisConfiguration" value="" />
		<add key="Report/HeaderHeight" value="3" />
		<add key="Report/HeaderSpacing" value="0.5" />
		<add key="Report/FooterHeight" value="3" />
		<add key="Report/FooterSpacing" value="0.5" />
		<add key="SoftDelete" value="true" />

		<add key="UseActiveDirectoryAuthenticationService" value="false" />
		<add key="ActiveDirectoryEndpoint" value="LDAP://kgmnav.local:389" />
		
		<add key="UseOpenIdAuthentication" value="false" />
		<!-- Depending on the flow used, it can be *code* for code flow, and it can be *code id_token token* for hybrid flow -->
		<add key="OpenId/ResponseType" value="code" />
		<add key="OpenId/Authority" value="" />
		<add key="OpenId/ClientId" value="" />
		<add key="OpenId/ClientSecret" value="" />
		<add key="OpenId/LogoutUri" value="" />
		<add key="OpenId/UseTokenLifetime" value="false" />
		<add key="OpenId/Scope" value="openid,profile,email,offline_access" />
		<!-- ClaimType to be used to link to CRM User/OpenIdIdentifier - https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claimtypes?view=net-6.0 -->
		<add key="OpenId/ClaimType" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
		
		<!-- Geocoder/GeocoderService specifies which geocoding provider to use, possible values: Google, MapQuest, Bing, Yahoo -->
		<!-- For Google specifiying an API Key is optional, if none specified, server limits of currently 1500 reqs per days are in place -->
		<!-- Google: https://developers.google.com/maps/documentation/javascript/usage -->
		<!-- Yahoo: http://developer.yahoo.com/boss/geo/BOSS_Signup.pdf -->
		<!-- Bing: http://msdn.microsoft.com/en-us/library/ff428642.aspx -->
		<add key="Geocoder/GeocoderService" value="Google" />
		<add key="Geocoder/GoogleMapsApiKey" value="AIzaSyD09HLK72wX2tmAlWthoqdT_RoF6OmuQgw" />
		<add key="Geocoder/MapQuestApiKey" value="" />
		<add key="Geocoder/BingMapsApiKey" value="" />
		<add key="Geocoder/YahooMapsApiKey" value="" />
		<add key="Geocoder/YahooMapsApiSecret" value="" />
		<add key="Geocoder/Address/BatchSize" value="50" />

		<add key="Cordova/AndroidServiceAppLink" value="https://play.google.com/store/apps/details?id=com.lmobile.client" />
		<add key="Cordova/AppleIosServiceAppLink" value="https://itunes.apple.com/us/app/l-mobile-client/id878156901" />
		<add key="Cordova/Windows10ServiceAppLink" value="" />
		<add key="Cordova/AndroidSalesAppLink" value="https://play.google.com/store/apps/details?id=com.lmobile.salesclient" />
		<add key="Cordova/AppleIosSalesAppLink" value="https://itunes.apple.com/us/app/l-mobile-sales/id1234276274" />
		<add key="Cordova/Windows10SalesAppLink" value="" />

		<add key="MaxFileLengthInKb" value="25600" />
	  
		<add key="Maintenance/PostingDeprecationDays" value="90" />
		<add key="Maintenance/MessageDeprecationDays" value="30" />
		<add key="Maintenance/LogDeprecationDays" value="14" />
		<add key="Maintenance/ErrorLogDeprecationDays" value="30" />
		<add key="Maintenance/ReplicatedClientDeprecationDays" value="90" />
		<add key="Maintenance/FragmentationLevel1" value="5" />
		<add key="Maintenance/FragmentationLevel2" value="15" />
		<add key="Maintenance/AmountOfRecentPagesToKeep" value="10" />
		<add key="Maintenance/CommandTimeout" value="1800" />

		<add key="Posting/MaxRetries" value="5" />
		<add key="Posting/RetryAfter" value="10" />

		<!-- This seting is used if the PersonNo should be created by the system-->
		<add key="PersonNoIsGenerated" value="false" />
		<add key="PersonNoIsCreateable" value="false" />
		<add key="PersonNoIsEditable" value="false" />
		
		<add key="PushNotification/Enabled" value="false" />
		<add key="PushNotification/Configuration" value="" />
		<add key="PushNotification/VapidKey" value="" />
		<add key="PushNotification/FCMServerKey" value="" />

		<add key="Site/HostEditable" value="true" />
		<add key="Site/PluginsEditable" value="true" />
	</appSettings>
</configuration>