@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="col-sm">
	<mini-chart params="caption: 'NewDispatches', count: Helper.Dispatch.getNewDispatchesCount, color: 'cyan', url: '#/Crm.Service/ServiceOrderDispatchList/IndexTemplate?status=upcoming&filters=%7B%22StatusKey%22%3A%7B%22Value%22%3A%22Released%22%2C%22Operator%22%3A%22%3D%3D%22%7D%7D&orderBy=%5B%22Date%22%2C%22Time%22%5D&orderByDirection=%5B%22ASC%22%2C%22ASC%22%5D'"></mini-chart>
</div>
