<div class="lv-item media">
	<div class="lv-avatar pull-left bgm-bluegray" data-bind="text: Name()[0], visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="media-body panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<div class="lv-title">
					<!-- ko requiredPermission: { name: Name(), group: 'WebAPI' } -->
					<a href="#/Main/LookupDetailsList/IndexTemplate/{{FullName}}">
						<span data-bind="translatedText: window.Helper.Lookup.parseLookupFullName(FullName()).table"></span>
					</a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: Name(), group: 'WebAPI' } -->
					<span data-bind="translatedText: window.Helper.Lookup.parseLookupFullName(FullName()).table"></span>
					<!-- /ko -->

				</div>
				<small class="small" data-bind="text: FullName"></small>
				<ul class="lv-attrs">
					<li>
						<span data-bind="text: window.Helper.Lookup.parseLookupFullName(FullName()).pluginFullName"></span>
					</li>
					<li data-bind="visible: !IsEditable()">
						<i class="zmdi zmdi-lock"></i>
						<span data-bind="translatedText: 'ReadOnly'"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>