@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-projects" aria-controls="tab-projects" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Projects"))
	</a>
</li>
