@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-projects" data-bind="with: tabs()['tab-projects']">
	<empty-state-box params="mood: 'sad', title: 'ProjectsEmptyStateTitle', text: 'NoProjectsForContact'" data-bind="visible: projects().length === 0">
	</empty-state-box>
	@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
	<div class="generic-list listview lv-bordered">
		<div class="lv-body" data-bind="foreach: projects">
			<!-- ko if: $index() === 0 || $parent.projects()[$index() -1].StatusKey() !== $data.StatusKey() -->
			<div class="lv-header" data-bind="lookupValue: StatusKey, lookups: $root.tabs()['tab-projects']().lookups.projectStatuses, css: { 'p-t-0': $index() === 0, 'p-t-30': $index() > 0 }">
			</div>
			<!-- /ko -->
			 @await Html.PartialAsync("MaterialProject") 
		</div>
	</div>
	 @await Html.PartialAsync("MaterialPaging") 
	<floating-action-button params="href: '#/Crm.Project/Project/CreateTemplate?potentialId=' + $root.potential().Id()+ '&companyId=' + $root.potential().ParentId(), title: 'CreateProject'"></floating-action-button>
</div>

