<div class="lv-item media" id="{{UId}}">
	<div data-bind="visible: !$parent.selectedItems || $parent.selectedItems().length === 0">
		<div class="lv-avatar pull-left" data-bind="style: { backgroundColor: $parent.getColor($data) }, text: Name()[0]"></div>
	</div>
	<div class="media-body panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<div class="lv-title">
					<!-- ko if: $root.canEdit($data) -->
					<a href="#/Main/Role/Details/{{UId}}">
						<span data-bind="text: Name"></span>
					</a>
					<!-- /ko -->
					<!-- ko ifnot: $root.canEdit($data) -->
					<span data-bind="text: Name"></span>
					<!-- /ko -->
				</div>
				<div class="small" data-bind="with: ExtensionValues">
					<span data-bind="text: Description"></span>
				</div>
				<ul class="lv-attrs">
					<!-- ko with: SourcePermissionSchemaRole -->
					<li>
						<span data-bind="translatedText: 'SourcePermissionSchemaRoleId'"></span>:
						<span data-bind="text: Helper.String.getTranslatedString(Name(), Name())"></span>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
		<lv-actions>
			<!-- ko if: $root.canEdit($data) -->
			<li>
				<a href="#/Main/Role/Details/{{UId}}" data-bind="translatedText: 'Details'"></a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'AssignRole', group: 'UserAdmin' } --> 
			<li>
				<a href="#" data-toggle="modal" data-target="#modal" data-route="Main/Role/Assign/{{UId}}" data-bind="translatedText: 'Assign'"></a>
			</li>
			<!-- /ko -->
			<!-- ko if: $root.canEdit($data) -->
			<li data-bind="visible: SourcePermissionSchemaRoleId">
				<a href="#" data-bind="click: $root.reset, translatedText: 'Reset'"></a>
			</li>
			<li>
				<a href="#" data-bind="click: $root.remove, translatedText: 'Delete'"></a>
			</li>
			<!-- /ko -->
		</lv-actions>
	</div>
</div>