@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
	<a href="#/Crm.Service/ServiceCase/DetailsTemplate/{{Id}}">
		@(Html.Localize("Details"))
	</a>
</li>
