@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-order" aria-controls="tab-order" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("ErpDocuments"))
		<!-- ko with: ErpDocument -->
			<span data-bind="if: OrderNo">
				: <span data-bind="text: OrderNo"></span>
			</span>
		<!--/ko -->
	</a>
</li>
