@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.GenericListViewModel>
@using Crm.Library.Globalization.Extensions

<div id="{{Id}}" class="lv-item media">
	 @await Html.PartialAsync("GenericListBulkControl") 
	<div class="lv-avatar pull-left" data-bind="text: Helper.String.getTranslatedString(Crm.Model.Enums.MessageState.getEnumName($data.State()), Crm.Model.Enums.MessageState.getEnumName($data.State()))[0], css: $parent.getStateBackgroundColor($data.State()), visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="row media-body">
		<div class="col-xs-10">
			<div class="lv-title">
				<span data-bind="text: Subject"></span>
			</div>
			<small class="small">
				@(Html.Localize("For"))
				<span data-bind="text: Recipients().join(', ')"></span>
			</small>
			<div class="c-red" data-bind="visible: ErrorMessage, text: ErrorMessage"></div>
			<ul class="lv-attrs">
				<li>
					@(Html.Localize("CreateDate")):
					<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'medium' } }"></span>
				</li>
				<li data-bind="css: $parent.getStateColor($data.State())">
					@(Html.Localize("MessageState")):
					<span data-bind="translatedText: Crm.Model.Enums.MessageState.getEnumName($data.State())"></span>
					(<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'medium' } }"></span>)
				</li>
			</ul>
		</div>
		<lv-actions>
			<li data-bind="visible: $data.State() === Crm.Model.Enums.MessageState.Failed">
				<a href="#" data-bind="click: $root.retryAction">
					@(Html.Localize("Retry"))
				</a>
			</li>
		</lv-actions>
	</div>
</div>
