@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li class="dropdown" title="@(Html.Localize("RunNow"))" data-bind="tooltip: true" data-placement="bottom">
	<a href="#" data-bind="click: trigger">
		<i class="tm-icon zmdi zmdi-play"></i>
	</a>
</li>
