@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModel>
@using Crm.DynamicForms.Model
@using Crm.Offline.Extensions

<label class="control-label" data-bind="validationElement: Response">
	<span data-bind="text: $root.getLocalizationText($data)"></span>
	<span class="required-marker">@("*".TemplateCondition<MultiLineText>(x => x.Required))</span>
	 @await Html.PartialAsync("DisplayTemplates/Hint") 
</label>
<div class="field form-group" data-bind="validationOptions: { insertMessages: false }">
	<textarea class="form-control" cols="20" data-bind="value: Response, attr: { rows: 12 / $data.RowSize() }" id="Response" name="Response"></textarea>
</div>
<p data-bind="validationMessage: Response, validationElement: Response"></p>
