@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-turnover" aria-controls="tab-turnover" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'TurnoverStatistics'">
	</a>
</li>
