@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="visible: !isClosed() && !order().ReadyForExport(), requiredPermission: { name: 'Complete', group: 'Order' }">
	<a href="#" data-bind="click: complete">
		<i class="zmdi zmdi-check-all"></i>
		@(Html.Localize("Complete"))
	</a>
</li>

<li class="disabled" data-bind="visible: isClosed() || order().ReadyForExport(), requiredPermission: { name: 'Complete', group: 'Order' }">
	<a href="#">
		<i class="zmdi zmdi-check-all"></i>
		@(Html.Localize("Complete"))
	</a>
</li>
