@using Crm.Library.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.GenericListViewModel>

@await Html.PartialAsync("Material/GenericListTopMenu")

<div class="container">
	<div class="row">
		<div data-bind="css: { 'col-sm-12 col-md-8': $root.showSidebar(), 'col-xs-12': !$root.showSidebar() }">
			<div class="card generic-list" data-bind="css: { 'bulk-selection' : selectedItems().length > 0, 'has-bulk-actions' : bulkActions().length > 0 }">
				@await Html.PartialAsync("Material/GenericListHeader")
				<!-- ko if: window.AuthorizationManager.isAuthorizedForAction("ReplenishmentOrder", "ReplenishmentsFromOtherUsersSelectable") -->
				<div class="card-header ch-alt p-t-0">
					<div class="row">
						<div class="col-xs-8 col-sm-4">
							<select class="form-control" data-bind="select2autocompleter: { data: $root.responsibleUser, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, onSelect: $root.onResponsibleUserSelect.bind($root) }, allowClear: false }">
							</select>
						</div>
					</div>
				</div>
				<!-- /ko -->
				@await Html.PartialAsync("Material/GenericListList")
			</div>
		</div>
		<!-- ko if: $root.showSidebar() -->
		@await Html.PartialAsync("Sidebar")
		<!-- /ko -->
	</div>
	@Html.RenderAction("MaterialPrimaryAction", Model.ControllerName, new { plugin = Model.PluginName })
</div>

@await Html.PartialAsync("Material/GenericListItem")