@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row form-element-title">
	<span data-bind="text: $root.getLocalizationText($data)">
	</span>
	&nbsp;
</div>
<div class="form-element-response">
	<div class="row" data-bind="if: Response">
		<span data-bind="dateText: moment.utc(Response()).local(true).toDate()"></span>
	</div>
</div>
