@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
    <a href="#/Crm.Service/ServiceOrder/DetailsTemplate/{{Id}}">
        @(Html.Localize("ServiceOrderViewTitle"))
    </a>
</li>
