@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko if: $data.innerInstance instanceof database.CrmService_ServiceOrderTimePosting.CrmService_ServiceOrderTimePosting-->
<li data-bind="requiredPermission: { name: 'Read', group: 'Dispatch' }, visible: DispatchId && canViewCurrentUser">
	<a data-bind="attr: { href: '#/Crm.Service/Dispatch/DetailsTemplate/' + DispatchId() }, translatedText: 'ViewDispatch'">
	</a>
</li>
<!-- /ko -->
