@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-details" aria-controls="tab-details" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Details"))
	</a>
</li>
