@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-documents" aria-controls="tab-documents" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Documents"))
	</a>
</li>
