@inherits Crm.Library.Modularization.CrmViewUserControl<CrmModel>
@using Crm.ViewModels
@using Crm.Library.Globalization.Extensions

<div role="tabpanel" class="tab-pane" id="tab-relationships" data-bind="with: tabs()['tab-relationships']">
	<empty-state-box params="mood: 'sad', title: 'RelationshipsEmptyStateTitle', text: 'NoRelationshipInfo'" data-bind="visible: items().length === 0 && !isFiltered()"></empty-state-box>

	<div class="generic-list listview lv-bordered">
		<div class="lv-body">
			<div data-bind="foreach: items">
				 @await Html.PartialAsync("GenericListItemGroup") 
				 @await Html.PartialAsync("../ServiceContractAddressRelationshipList/MaterialItemTemplate") 
			</div>
			<!-- ko if: items().length === 0 && isFiltered() -->
			<div id="generic-list-empty-state" class="lv-item media">
				<div class="row media-body">
					<div class="col-xs-12">
						<small class="lv-small">@(Html.Localize("NoRecordsForSearchCriteria"))</small>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	 @await Html.PartialAsync("Material/GenericListPreloader") 
	<floating-action-button>
		<!-- ko requiredPermission: { name: 'EditAddressRelationship', group: 'ServiceContract' } -->
		<li data-bind="with: $root">
			<a id="add-servicecontract-address-relationship" href="#" data-mfb-label="@(Html.Localize("AddRelationship"))" data-route="Crm.Service/ServiceContractAddressRelationship/EditTemplate/" data-toggle="modal" data-target="#modal">
				<i class="zmdi zmdi-plus"></i>
			</a>
		</li>
		<!-- /ko -->
	</floating-action-button>
</div>
