@inherits Crm.Library.Modularization.CrmViewPage
@{Layout = "~/Views/Shared/Layout/ApplicationLayout.cshtml";}

@section TitleContent {

	<title>Test Title</title>

}

@section MainContent {

	Test Content

}