@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-installations" aria-controls="tab-installations" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Installations"))
	</a>
</li>
