@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<div class="container">
	<div class="card">
		<div class="card-header ch-alt">
			<h2 data-bind="translatedText: 'CreateRole'"></h2>
		</div>
		<div class="card-body card-padding">
			<form role="form" data-bind="with: role">
				<form-element id="SourcePermissionSchemaRoleId" params="value: SourcePermissionSchemaRoleId, caption: 'SourcePermissionSchemaRoleId', type: 'select'">
					<select name="SourcePermissionSchemaRoleId" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { table: () => database.Main_PermissionSchemaRole.GetTemplates(), orderBy: ['Name'], placeholder: placeholder, mapDisplayObject: function (x) { return { id: x.UId, text: Helper.String.getTranslatedString(x.Name, x.Name) }; } } }"></select>
				</form-element>
				<form-element params="value: Name, caption: 'Name', type: 'text'"></form-element>
				<!-- ko with: ExtensionValues -->
				<form-element params="value: Description, caption: 'Description', type: 'textarea'"></form-element>
				<!-- /ko -->
				@Html.PluginRenderActions("CreateRole")
			</form>
		</div>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>