@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block params="icon: 'info-outline', caption: 'Description', context: { role: role }">
		<pmbb-view>
			<!-- ko with: role -->
			<!-- ko with: ExtensionValues -->
			<span data-bind="text: Description"></span>
			<span data-bind="translatedText: 'Unspecified', ifnot: Description"></span>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: role -->
			<pmbb-edit-entry params="caption: 'Name', validationElement: Name">
				<input type="text" class="form-control" data-bind="value: Name">
			</pmbb-edit-entry>
			<!-- ko with: ExtensionValues -->
			<pmbb-edit-entry params="caption: 'Description', validationElement: Description">
				<form-element params="value: Description, type: 'textarea'"></form-element>
			</pmbb-edit-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	@await Html.PartialAsync("PermissionSelection")
	@Html.PluginRenderActions("RoleDetailsTabExtensions")

	<div class="pmb-block">
		<div class="pmbb-header">
			<h2>
				<i class="zmdi m-r-5 zmdi-lock-outline"></i>
				<span data-bind="translatedText: 'Permissions'"></span>
			</h2>
		</div>
		<div class="pmbb-body">
			<div class="listview lv-bordered">
				<div class="lv-body">
					<script type="text/html" id="permission-group-template">
						<div class="panel panel-collapse">
							<div class="panel-heading" role="tab" data-bind="click: $root.toggleSelectedPermissionGroup">
								<h4 class="panel-title">
									<a class="p-r-20" data-toggle="collapse" data-parent="#permission-group-accordion" data-bind="attr: { 'href': '#collapse-' + id }">
										<span data-bind="text: Name"></span>
										<i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i>
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" data-bind="attr: { id: 'collapse-' + id }">
								<!-- ko if: visible -->
								<div class="panel-body">
									<!-- ko foreach: _.uniq(Permissions.map(x => x.PermissionName.split("::")[0])) -->
									<div class="lv-item media">
										<div class="media-body">
											<div class="col-xs-10">
												<div class="lv-title" data-bind="text: $data">
												</div>
												<small class="lv-small" data-bind="foreach: $parent.Permissions.filter(x => x.PermissionName.startsWith($data + '::')).map(x => x.PermissionName.split('::')[1])">
													<p class="m-b-0" data-bind="css: $root.getPermissionColor($parent, $data)">
														<i class="zmdi zmdi-hc-fw" data-bind="css: $root.getPermissionIcon($parent, $data)"></i>
														<span data-bind="text: $data"></span>
													</p>
												</small>
											</div>
											<div class="lv-actions actions">
												<a href="#" data-toggle="modal" data-target="#permission-selection" data-bind="click: () => $root.selectPermissions($parent, $data), tooltip: true" title="@(Html.Localize("Permissions"))">
													<i class="zmdi zmdi-plus-circle-o"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- /ko -->
								</div>
								<!-- /ko -->
							</div>
						</div>
					</script>
					<div class="panel-group" id="permission-group-accordion" role="tablist" aria-multiselectable="true">
						<!-- ko template: { name: 'permission-group-template', foreach: permissionGroups } -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>