@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row p-b-20" data-bind="visible: totalItemCount() !== null && totalItemCount() > 0 && totalPages() !== null && totalPages() > 1 ">
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 hidden-xs p-l-0 p-r-0">
		<div class="lv-pagination p-t-30 p-b-0" data-bind="text: pageState"></div>
	</div>
	<div class="col-xl-8 col-lg-6 col-md-6 col-sm-8 col-xs-12 p-l-0 p-r-0">
		<ul class="pagination lv-pagination p-t-20 p-b-0">
			<li data-bind="css: { disabled: hasPreviousPage() === false }">
				<a href="#" data-bind="click: goToFirstPage" aria-label="@(Html.Localize("FirstPager"))">
					<span class="zmdi-hc-stack zmdi-hc-lg">
						<i class="zmdi zmdi-chevron-left zmdi-hc-stack-1x p-r-5"></i>
						<i class="zmdi zmdi-chevron-left zmdi-hc-stack-1x p-l-5"></i>
					</span>
				</a>
			</li>
			<li data-bind="css: { disabled: hasPreviousPage() === false }">
				<a href="#" data-bind="click: goToPreviousPage" aria-label="@(Html.Localize("PreviousPager"))">
					<i class="zmdi zmdi-chevron-left"></i>
				</a>
			</li>
			<!-- ko foreach: displayedPages -->
			<li data-bind="css: { active: $parent.page() === $data }">
				<a href="#" data-bind="text: $data, click: $parent.goToPage"></a>
			</li>
			<!-- /ko -->
			<li data-bind="css: { disabled: hasNextPage() === false }">
				<a href="#" data-bind="click: goToNextPage" aria-label="@(Html.Localize("NextPager"))">
					<i class="zmdi zmdi-chevron-right"></i>
				</a>
			</li>
			<li data-bind="css: { disabled: hasNextPage() === false }">
				<a href="#" data-bind="click: goToLastPage" aria-label="@(Html.Localize("LastPager"))">
					<span class="zmdi-hc-stack zmdi-hc-lg">
						<i class="zmdi zmdi-chevron-right zmdi-hc-stack-1x p-r-5"></i>
						<i class="zmdi zmdi-chevron-right zmdi-hc-stack-1x p-l-5"></i>
					</span>
				</a>
			</li>
		</ul>
		<p class="visible-xs text-center" data-bind="text: pageState"></p>
	</div>
	<div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 hidden-xs p-l-0 p-r-0">
		<div class="lv-pagination p-t-30 p-b-0"></div>
	</div>
</div>