@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="pmbb-view" data-bind="with: $parent">
	<!-- ko with: viewContext -->
	<!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
	<!-- /ko -->
</div>
