@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="pmb-block" data-bind="css: css">
	<!-- ko if: showHeader -->
	<div class="pmbb-header">
		<h2>
			<!-- ko if: icon -->
			<i class="zmdi m-r-5" data-bind="css: 'zmdi-' + icon()"></i>
			<!-- /ko -->
			<span data-bind="text: caption"></span>
		</h2>
		<ul class="actions" data-bind="visible: condition, ifnot: isToggled">
			<li class="dropdown">
				<!-- ko if: buttons.length === 1 && !!buttons[0].icon -->
				<!-- ko with: buttons[0] -->
					<a href="#" data-bind="click: click, css: css, attr.title: text, tooltip: true"><i class="zmdi zmdi-{{icon}}"></i></a>
				<!-- /ko -->
				<!-- /ko -->
				<!-- ko ifnot: buttons.length === 1 && !!buttons[0].icon -->
				<a href="#" data-toggle="dropdown">
					<i class="zmdi zmdi-more-vert"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<!-- ko foreach: buttons -->
					<li>
						<a href="#" data-bind="click: click, text: text, css: css"></a>
					</li>
					<!-- /ko -->
				</ul>
				<!-- /ko -->
			</li>
		</ul>
	</div>
	<!-- /ko -->
	<div class="pmbb-body p-l-30" data-bind="css: { 'p-l-30': showHeader }">
		<!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
	</div>
</div>