@inherits Crm.Library.Modularization.CrmViewUserControl<Type>
@using Crm.Library.Globalization.Extensions

<!-- ko if: window.Main.Settings.DropboxDomain -->
<div class="pmo-block pmb-block">
	<div class="pmbb-header">
		<h4>@(Html.Localize("Dropbox"))</h4>
		<ul class="actions">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown">
					<i class="zmdi zmdi-more-vert"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li data-bind="visible: $root.contactDropboxAddress">
						<a class="normal-white-space" href="#" data-bind="click: $root.copyContactDropboxAddress">@(Html.Localize("CopyDropboxAddress"))</a>
					</li>
					<li>
						<a href="#" data-bind="click: $root.showContactDropboxHelp">@(Html.Localize("DropboxHelp"))</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="info-message pmo-contact">
		<!-- ko ifnot: $root.contactDropboxAddress -->
			@(Html.Localize("DropBoxEmptySlate"))
		<!-- /ko -->
		<!-- ko if: $root.contactDropboxAddress -->
		<ul>
			<li>
				<span>
					<i class="zmdi zmdi-email"></i>
					<a class="normal-white-space" data-bind="attr: { href: 'mailto:?BCC=' + encodeURIComponent($root.contactDropboxAddress()) }, text: Helper.String.getTranslatedString('SendEMailWithBCC').replace('{0}', $root.contactName())"></a>
				</span>
			</li>
		</ul>
		<!-- /ko -->
	</div>
</div>
<!-- /ko -->
