@inherits Crm.Library.Modularization.CrmViewUserControl

<script type="text/html" id='nested-autocompleter-options'>
	<span class="nested-element" data-bind="text: text, style: {padding-left: (depth*10) + 'px'}, css: { disable: $data?.disabled === true }"></span>
</script>