@inherits Crm.Library.Modularization.CrmViewUserControl<string>
@using Crm.Library.Globalization.Extensions

<a href="#" class="useradmin-usergroup-assign-main-resource">@(Html.Localize("AssignMainResource"))</a>
