@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko foreach: users -->
<div class="row m-t-25">
	<div class="col-xs-4">
		<h3 class="m-t-5" data-bind="text: Helper.User.getDisplayName($data)"></h3>
	</div>
	<div class="col-xs-4 text-right">
		<h4 class="m-t-10">@(Html.Localize("Duration"))</h4>
		<h4 data-bind="durationText: $parent.getUserDurationSum(Id())"></h4>
	</div>
	<div class="col-xs-4 text-right">
		<h4 class="m-t-10">@(Html.Localize("RefundAmount"))</h4>
		<h4 data-bind="foreach: $parent.getUserExpenseSums(Id())">
			<br data-bind="visible: $index() > 0"/>
			<span data-bind="money: $data[1]"></span>&nbsp;<span data-bind="lookupValue: $data[0], lookups: $root.lookups.currencies"></span>
		</h4>
		<h4 data-bind="if: $parent.getUserExpenseSums(Id()).length === 0">-</h4>
	</div>
</div>
<!-- /ko -->
