@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $data.innerInstance instanceof database.CrmPerDiem_UserExpense.CrmPerDiem_UserExpense -->
<td></td>
<td>
	<span data-bind="lookupValue: ExpenseTypeKey, lookups: $root.lookups.expenseTypes"></span>
	<br/>
	<small class="text-muted" data-bind="text: Description"></small>
</td>
<td>
	<!-- ko with: $data.FileResource -->
	@(Html.Localize("File")): <small class="c-gray" data-bind="text: Filename"></small>
	<!-- /ko -->
</td>
<td class="text-right">
</td>
<td class="text-right">
	<span data-bind="money: Amount"></span>&nbsp;<span data-bind="lookupValue: CurrencyKey, lookups: $root.lookups.currencies"></span>
</td>
<!-- /ko -->
