@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="text-center">
	<!-- ko foreach: expenses -->
	<!-- ko if: $data.FileResource -->
	<!-- ko if: $data.FileResource().ContentType().indexOf('image/') === 0 -->
	<div>
		<hr data-bind="visible: $index() > 0"/>
		<img class="img-responsive" data-bind="fileResource: FileResource"/>
		<br/>
		<span data-bind="text: FileResource().Filename"></span>
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
</div>
