@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-persons" aria-controls="tab-persons" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("People"))
	</a>
</li>
