@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="card">
		<div class="card-header ch-alt" data-bind="with: potential">
			<h2>@(Html.Localize("AddNewPotential"))</h2>
		</div>
		<div class="card-body card-padding">
			<form role="form" data-bind="with: potential">
				<!-- ko if: window.Crm.Project.Settings.Potential.PotentialNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
				<div class="form-group" data-bind="validationElement: PotentialNo" title="">
					<div class="fg-line">
						<label class="fg-label control-label" data-bind="visible: 'PotentialNo'">
							<span>@Html.Localize("PotentialNo")</span>
						</label>
						<input type="text" class="form-control fg-input" name="PotentialNo" data-bind="value: PotentialNo, attr: { maxlength: 20}">
					</div>
					<small class="help-block pre-line" data-bind="validationMessage: PotentialNo" style="display: none;"></small>
				</div>
				<!-- /ko -->
				<form-element params="value: Name, caption: 'Name', type: 'text'"></form-element>
				<form-element id="ParentId" params="value: ParentId, caption: 'ParentId'">
					<select name="ParentId" class="form-control" data-bind="select2autocompleter: { data: $parent.ParentId, autocompleteOptions: { table: 'Main_Company', orderBy: ['Name'], joins: Helper.Company.getAutocompleteJoins(), customFilter: Helper.Company.getSelect2Filter, mapDisplayObject: Helper.Company.mapDisplayNameWithAddressForSelect2, onSelect: $root.onParentSelected.bind($root), placeholder: placeholder } }" >
					</select>
				</form-element>
				<form-element id="ProductFamilyKey" params="value: ProductFamilyKey, caption: 'ProductFamily'">
					<select name="ProductFamilyKey" class="form-control" data-bind="select2autocompleter: { data: $parent.ProductFamilyKey, autocompleteOptions: { table: 'CrmArticle_ProductFamily', orderBy: ['Name'], mapDisplayObject: function (c) { return { id: c.Id, text: c.Name, item: c }; }, key: 'Id', placeholder: placeholder, onSelect: $root.onConfirmProductFamily.bind($root) } }" >
					</select>
				</form-element>
				<form-element id="SourceTypeKey" params="value: SourceTypeKey, caption: 'SourceTypeKey', type: 'select'">
					<select name="SourceTypeKey" class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.sourceTypes, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_SourceType'), placeholder: placeholder}">
					</select>
				</form-element>
				@Html.PluginRenderActions("CreateContactCampaignSource")
			  <form-element id="ResponsibleUserKeyPotential" params="value: ResponsibleUser, caption: 'ResponsibleUser', type: 'select'">
					<select name="ResponsibleUserKeyPotential" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, placeholder: placeholder }}">
					</select>
				</form-element>
			  <form-element id="PriorityKey" params="value: PriorityKey, caption: 'Priority', type: 'select'">
					<select name="PriorityKey" class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.priorities, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmProject_PotentialPriority'), placeholder: placeholder}">
					</select>
				</form-element>	
				<form-element params="value: BackgroundInfo, caption: 'BackgroundInfo', type: 'textarea'"></form-element>
				<!-- ko with: $root.visibilityViewModel -->
				@Html.RenderAction("Selection", "Visibility")
				<!-- /ko -->
			</form>
		</div>
		 @await Html.PartialAsync("CreateFormFooter") 
	</div>
</div>


