@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="col-xs-6 col-sm-3 profile-view" data-bind="attr: { id: 'article-group-' + Id() }">
	<a href="#" data-bind="click: $parent.select">
		<div class="thumbnail">
			<div class="pv-header">
				<!-- ko if: Base64Image -->
				<div class="pv-main" data-bind="style: { 'background-image': 'url(data:image;base64,' + Base64Image() + ')' }">
				</div>
				<!-- /ko -->
				<!-- ko ifnot: Base64Image -->
				<div class="lv-avatar bgm-gray pv-main">
					<div class="vertical-align" data-bind="text: Value().substr(0,1)"></div>
				</div>
				<!-- /ko -->
				<div class="caption">
					<h5 class="text-center" data-bind="text: Value"></h5>
				</div>
			</div>
			<div class="pv-body"></div>
		</div>
	</a>
</div>
