<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EnableAddressExport" value="false" />
		<add key="EnableCommunicationExport" value="false" />
		<add key="EnableCompanyExport" value="false" />
		<add key="EnablePersonExport" value="false" />
		<add key="PaymentTermsIsLookup" value="false" />
		<add key="PaymentMethodIsLookup" value="true" />
		<add key="TermsOfDeliveryIsLookup" value="false" />
		<add key="DeliveryMethodIsLookup" value="true" />
		<add key="ErpPartialDeliveryProhibitedReasonIsLookup" value="false" />
		<add key="ErpDeliveryProhibitedReasonIsLookup" value="false" />
		<add key="EnableDocumentDetails" value="true" />
		<add key="ErpDocumentPositionDisplayCurrency" value="true" />
		
		<!-- SystemID from VPPS.INI -->
		<add key="ErpSystemID" value="0110521916" />
		<!-- Client/Instance for SAP -->
		<add key="ErpSystemName" value="" />

		
		<!-- InforObjectLink for iol, D3Link for d.velop dms, SapLink for sap -->
		<add key="ObjectLinkIntegration" value="InforObjectLink" />
		
		<add key="TurnoverCurrencyKey" value="EUR" />
		
	</appSettings>
</configuration>