@inherits Crm.Library.Modularization.CrmViewUserControl
<div class="secondary-action">
	<a href="@(Url.Action("PDF", "Order", new { plugin = "Crm.Order" }))" class="btn btn-default download-pdf">
		<i class="fa fa-arrow-right"></i> PDF
	</a>
</div>
