@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
<div class="secondary-action">
	<a href="#" class="btn btn-default send-order">
		<i class="fa fa-arrow-right"></i> @(Html.Localize("Send"))
	</a>
</div>
