@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-materials" aria-controls="tab-materials" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Material"))
	</a>
</li>
