@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-service-cases" aria-controls="tab-service-cases" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("ServiceCases"))
	</a>
</li>
