@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="form-group">
  <div class="fg-line select">
	<p class="m-b-5" data-bind="text: caption"></p>
	<select data-bind="value: selectedOption, options: options, optionsText: 'Value', optionsValue: 'Key'" class="form-control">
	</select>
  </div>
</div>
<div class="form-group has-feedback" data-bind="visible: showDatePickers">
  <label class="control-label">@(Html.Localize("From"))</label>
  <div class="dtp-container fg-line">
	<input type="text" class="form-control date-picker" data-bind="datePicker: dateFrom" placeholder="@(Html.Localize("ClickHere"))">
  </div>
  <span class="zmdi zmdi-calendar form-control-feedback"></span>
</div>
<div class="form-group has-feedback" data-bind="visible: showDatePickers">
  <label class="control-label">@(Html.Localize("To"))</label>
  <div class="dtp-container fg-line">
	<input type="text" class="form-control date-picker" data-bind="datePicker: dateTo" placeholder="@(Html.Localize("ClickHere"))">
  </div>
  <span class="zmdi zmdi-calendar form-control-feedback"></span>
</div>
