@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="empty-state-container">	
<!-- ko ifnot: mood -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	  <div class="card z-depth-1-top">
		<div class="card-header">
		  <h2>
			<span data-bind="text: title, visible: title"></span>
			<small data-bind="text: text, visible: text"></small>
		  </h2>
		</div>
		<div class="card-body card-padding text-right" data-bind="visible: $componentTemplateNodes.length > 0">
		  <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
		</div>
	  </div>
	</div>
  </div>
<!-- /ko -->
<!-- ko if: mood -->
<div class="row text-center p-t-30">
	<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
		<img class="img-responsive center-block" style="opacity: 0.33; width: 100%;" data-bind="attr: { src: window.Helper.Url.resolveUrl('~/Content/img/lmobile-block-' + mood + '.svg') }" />
	</div>
  </div>
<div class="row text-center p-b-30">
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
	  <h2 data-bind="text: title"></h2>
	  <p data-bind="text: text"></p>
	</div>
  </div>
<!-- /ko -->
</div>