@inherits Crm.Library.Modularization.CrmViewUserControl

<div data-bind="flotChart: { data: data, options: options }, style: { height: height }" class="flot-chart m-l-20 p-r-30" style="width: 100%;"></div>
<div class="flc-bar m-l-20 m-r-20"></div>
