@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="lv-actions actions dropdown">
	<a href="#" data-toggle="dropdown" aria-expanded="true">
		<i class="zmdi zmdi-more-vert"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-right" data-bind="with: $parent">
		<!-- ko template: { nodes: $componentTemplateNodes, afterRender: $parent.evaluateVisible } --><!-- /ko -->
	</ul>
</div>
