@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="form-group">
	<div class="fg-line select">
		<p class="m-b-5" data-bind="text: caption"></p>
		<select data-bind="value: selectedOption, options: options, optionsText: 'Value', optionsValue: 'Key'" class="form-control">
		</select>
	</div>
</div>